//
// _helper.scss
//

.customizer-setting {
    right: auto;
    left: 0;
}

// Search 
.search-box {
    position: relative;

    .form-control {
        padding-left: $input-btn-padding-x;
        padding-right: 40px;

    }

    .search-icon {
        right: 13px;
        left: auto;
    }
}

#back-to-top {
    left: 28px;
    right: auto;
}