<!-- Start Breadcrumbs -->
<app-breadcrumbs title="Contact" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<!-- End Breadcrumbs -->

<div class="row align-items-center g-3 mb-4">
    <div class="col-sm-3 me-auto">
        <h5 class="card-title mb-0">Contact List <span class="badge bg-success ms-1 align-baseline">834</span></h5>
    </div><!--end col-->
    <div class="col-lg-3 col-sm-5 col">
        <div class="search-box">
            <input type="text" class="form-control search" placeholder="Search for name, number, location or something...">
            <i class="ri-search-line search-icon"></i>
        </div>
    </div>
    <div class="col-sm-auto col-auto">
        <div class="d-flex flex-wrap align-items-center justify-content-end gap-2">
            <div>
                <a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target=".add-new" class="btn btn-primary"><i class="bx bx-plus me-1"></i> Add New</a>
            </div>
        </div>
    </div><!--end col-->
</div><!--end row-->

<div class="row">
    @for (data of contactlist; track $index) {
    <div class="col-xxl-3 col-sm-6">
        <div class="card">
            <div class="card-body">
                <div dropdown class="dropdown float-end">
                    <a dropdownToggle class="text-muted" href="javascript:void(0);"><i class="bx bx-dots-horizontal-rounded"></i></a>
                    <div *bsDropdownMenu class="dropdown-menu dropdown-menu-end">
                        <a class="dropdown-item" href="javascript:void(0);">Edit</a>
                        <a class="dropdown-item" href="javascript:void(0);">Action</a>
                        <a class="dropdown-item" href="javascript:void(0);">Remove</a>
                    </div>
                </div>
                <div class="d-flex align-items-center">
                    <div class="flex-shrink-0 position-relative">
                        @if (data.img) {<img src="{{data.img}}" alt="" class="avatar-sm rounded">}
                        @if (data.letter) {
                        <div class="avatar-sm">
                            <div class="avatar-title fs-lg bg-{{data.color}}-subtle text-{{data.color}} rounded">
                                {{data.letter}}
                            </div>
                        </div>
                        }
                        <span class="position-absolute top-0 start-100 translate-middle badge border border-2 border-white rounded-circle p-1" [ngClass]="{'bg-success':data.status == 'Active','bg-danger':data.status == 'Unactive'}"><span class="visually-hidden">unread messages</span></span>
                    </div>
                    <div class="flex-grow-1 ms-2">
                        <h5 class="fs-md"><a routerLink="/pages/profile" class="text-dark">{{data.name}}</a></h5>
                        <p class="text-muted mb-0">{{data.designation}}</p>
                    </div>
                </div>
                <div class="mt-4">
                    <p class="text-muted mb-2"><i class="bi bi-telephone align-baseline me-1"></i> {{data.contact}}</p>
                    <p class="text-muted mb-2"><i class="bi bi-envelope align-baseline me-1"></i>
                        {{data.email}}</p>
                    <p class="text-muted mb-0"><i class="bi bi-geo-alt align-baseline me-1"></i> {{data.location}}</p>
                </div>
                <div class="d-flex gap-2 pt-4">
                    <a routerLink="/pages/profile" class="btn btn-subtle-secondary w-50"><i class="bi bi-person align-baseline me-1"></i> Profile</a>
                    <button type="button" class="btn btn-primary text-truncate w-50"><i class="bi bi-chat-left-text align-baseline me-1"></i> Contact Us</button>
                </div>
            </div>
        </div>
    </div>
}
</div><!--end row-->

<div class="row align-items-center justify-content-between text-center text-sm-start mb-3">
    <div class="col-sm">
        <div class="text-muted">
            Showing <span class="fw-semibold">{{endItem}}</span> of <span class="fw-semibold">{{contactlist.length}}</span> Results
        </div>
    </div><!--end col-->
    <div class="col-sm-auto mt-3 mt-sm-0">
        <pagination class="pagination-wrap hstack gap-2" [totalItems]="12" [itemsPerPage]="12" (pageChanged)="pageChanged($event)"></pagination>
    </div><!--end col-->
</div>