<!-- Start Breadcrumbs -->
<app-breadcrumbs title="Grid View" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<!-- End Breadcrumbs -->

<div class="card">
    <div class="card-body">
        <div class="row align-items-center g-2">
            <div class="col-lg-3 me-auto">
                <h6 class="card-title mb-0">Instructors List <span class="badge bg-primary ms-1 align-baseline">1452</span></h6>
            </div><!--end col-->
            <div class="col-lg-2">
                <div class="search-box">
                    <input type="text" class="form-control search" placeholder="Search for instructors, email or something..." [(ngModel)]="term" (keyup)="filterdata()">
                    <i class="ri-search-line search-icon"></i>
                </div>
            </div><!--end col-->
            <div class="col-lg-auto">
                <div class="hstack gap-2">
                    <a href="javascript:void(0);" (click)="addInstructor.show()" class="btn btn-secondary"><i class="bi bi-plus-circle align-baseline me-1"></i> Add Instructor</a>
                    <a routerLink="/learning/instructors-grid" class="btn btn-subtle-primary active btn-icon ms-auto"><i class="bi bi-grid"></i></a>
                    <a routerLink="/learning/instructors-list" class="btn btn-subtle-primary btn-icon"><i class="bi bi-list-task"></i></a>
                </div>
            </div><!--end col-->
        </div>
    </div>
</div><!--end card-->

<div class="row row-cols-xxl-5">
    @for (data of instructors; track $index) {
    <div class="col">
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <div class="form-check flex-grow-1">
                        <input class="form-check-input" type="checkbox" value="1" id="checkbox-1">
                        <label class="form-check-label" for="checkbox-1"></label>
                    </div>
                    <div class="flex-shrink-0">
                        <div dropdown class="dropdown">
                            <button dropdownToggle class="btn btn-light btn-icon btn-sm" type="button">
                                <i class="bi bi-three-dots-vertical"></i>
                            </button>
                            <ul *bsDropdownMenu class="dropdown-menu dropdown-menu-end">
                                <li><a class="dropdown-item edit-list" href="javascript:void(0);" (click)="editList($index)"><i class="bi bi-pencil-square me-1 align-baseline"></i>
                                        Edit</a></li>
                                <li><a class="dropdown-item remove-list" href="javascript:void(0);" (click)="removeItem(data.id)" data-remove-id="9" data-bs-toggle="modal"><i class="bi bi-trash3 me-1 align-baseline"></i> Delete</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="text-center mt-4 mb-3">
                    <div class="position-relative d-inline-block">
                        <img src="{{data.img}}" alt="" class="avatar-md rounded">
                        <span class="position-absolute top-0 start-100 translate-middle badge border border-2 border-white rounded-circle p-1" [ngClass]="{'bg-success':data.status === 'Active', 'bg-danger': data.status === 'Unactive'}"><span class="visually-hidden">unread messages</span></span>
                    </div>
                    <a routerLink="/learning/instructors-overview">
                        <h6 class="fs-md mt-4 mb-1">{{data.name}}</h6>
                    </a>
                    <p class="text-muted fs-sm mb-0">{{data.designation}}</p>
                </div>
                <ul class="list-unstyled text-muted vstack gap-2 mb-0 overflow-hidden">
                    <li>
                        <a href="mailto:ayaan@steex.com" class="text-reset d-block text-truncate"><i class="bi bi-envelope align-baseline me-1"></i> {{data.email}}</a>
                    </li>
                    <li>
                        <a href="tel:+(152) 15963 24785" class="text-reset"><i class="bi bi-telephone align-baseline me-1"></i> {{data.contact}}</a>
                    </li>
                    <li>
                        <i class="ph ph-graduation-cap align-baseline me-1"></i> {{data.total_course}} Courses
                    </li>
                </ul>
            </div>
            <div class="card-body border-top border-dashed d-flex align-items-center">
                <div class="flex-grow-1">
                    <span class="badge bg-warning-subtle text-warning"><i class="bi bi-star-fill align-baseline me-1"></i> {{data.rating}} </span>
                </div>
                <div class="flex-shrink-0"></div>
                <a routerLink="/learning/instructors-overview" class="link-effect">Overview <i class="bi bi-arrow-right align-baseline ms-1"></i></a>
            </div>
        </div><!--end card-->
    </div><!--end col-->
}
</div><!--end row-->
<div class="noresult"  style="display: none;">
    <div class="text-center py-4">
        <i class="ph-magnifying-glass fs-1 text-primary"></i>
        <h5 class="mt-2">Sorry! No Result Found</h5>
        <p class="text-muted mb-0">We've searched more than 150+ Courses We did not find any Courses
            for you search.</p>
    </div>
</div>

<div id="elmLoader">
    <div class="spinner-border text-primary avatar-sm" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>

<div class="row align-items-center mb-3" id="pagination-element">
    <div class="col-sm">
        <div class="text-muted text-center text-sm-start">
            Showing <span class="fw-semibold">{{instructors?.length}}</span> of <span class="fw-semibold">{{instructorGrid?.length}}</span> Results
        </div>
    </div><!--end col-->
    <div class="col-sm-auto mt-3 mt-sm-0">
        <pagination class="pagination-wrap hstack justify-content-center gap-2" [totalItems]="instructorGrid?.legnth" [itemsPerPage]="10" (pagrChanged)="pageChanged($event)"></pagination>
    </div><!--end col-->
</div>

<!-- Modal -->
<div bsModal #addInstructor="bs-modal" class="modal fade" id="addInstructor">
    <div class="modal-dialog">
        <div class="modal-content border-0">
            <div class="modal-header">
                <h5 class="modal-title" id="addInstructorModalLabel">Add Instructor</h5>
                <button type="button" class="btn-close" (click)="addInstructor.hide()"></button>
            </div>

            <form (ngSubmit)="saveGrid()" [formGroup]="GridForm" class="tablelist-form" novalidate autocomplete="off">
                <div class="modal-body">
                    <div id="alert-error-msg" class="d-none alert alert-danger py-2"></div>
                    <input type="hidden" id="id-field">
                    <input type="hidden" id="rating-field">
                    <div class="mb-3">
                        <label class="form-label">Instructor Image<span class="text-danger">*</span></label>
                        <dropzone class="dropzone" [config]="dropzoneConfig" [message]="'Drop files here or click to upload.'" (success)="onUploadSuccess($event)"></dropzone>
                        @if (uploadedFiles) {
                        <ul class="list-unstyled mb-0" id="dropzone-preview">
                            @for (file of uploadedFiles; track $index) {
                            <li class="mt-2" id="dropzone-preview-list">
                                <div class="border rounded">
                                    <div class="d-flex flex-wrap gap-2 p-2">
                                        <div class="flex-shrink-0 me-3">
                                            <div class="avatar-sm bg-light rounded p-2">
                                                @if (file.dataURL) {
                                                <img class="img-fluid rounded d-block" [src]="file.dataURL" alt="Dropzone-Image" />
                                                }@else {
                                                <img class="img-fluid rounded d-block" [src]="file" alt="Dropzone-Image" />
                                                }
                                            </div>
                                        </div>
                                        <div class="flex-grow-1">
                                            <div class="pt-1">
                                                @if (file.name) {<h5 class="fs-md mb-1">{{ file.name }}</h5>}
                                                @if (file.size) {<p class="fs-sm text-muted mb-0">{{ file.size }}</p>}
                                            </div>
                                        </div>
                                        <div class="flex-shrink-0 ms-3">
                                            <button (click)="removeFile(file)" class="btn btn-sm btn-danger">Delete</button>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        }
                        </ul>
                        }
                        <!-- end dropzon-preview -->
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="mb-3">
                                <label for="instructor-name-input" class="form-label">Instructor Name<span class="text-danger">*</span></label>
                                <input type="text" id="instructor-name-input" class="form-control" formControlName="name" placeholder="Enter instructor name" required>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="mb-3">
                                <label for="email-input" class="form-label">Email<span class="text-danger">*</span></label>
                                <input type="email" id="email-input" class="form-control" formControlName="email" placeholder="Email" required>
                            </div>
                        </div><!--end col-->

                        <div class="col-lg-6">
                            <div class="mb-3">
                                <label for="total-courses-input" class="form-label">Total Courses<span class="text-danger">*</span></label>
                                <input type="number" id="total-courses-input" class="form-control" formControlName="total_course" placeholder="Total courses" required>
                            </div>
                        </div><!--end col-->
                        <div class="col-lg-6">
                            <div class="mb-3">
                                <label for="experience-input" class="form-label">Experience<span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="experience-input" placeholder="Experience" formControlName="experience" required>
                            </div>
                        </div><!--end col-->
                        <div class="col-lg-6">
                            <div class="mb-3">
                                <label for="students-input" class="form-label">Students</label>
                                <input type="number" id="students-input" class="form-control" placeholder="Students" formControlName="students" required>
                            </div>
                        </div><!--end col-->
                        <div class="col-lg-6">
                            <div class="mb-3">
                                <label for="contact-input" class="form-label">Contact<span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="contact-input" placeholder="Contact no" formControlName="contact" required>
                            </div>
                        </div><!--end col-->
                        <div class="col-lg-12">
                            <div class="mb-3">
                                <label for="status-input" class="form-label">Status<span class="text-danger">*</span></label>

                                <select class="form-select" id="status-input" formControlName="status">
                                    <option value="">Select Status</option>
                                    <option value="Active">Active</option>
                                    <option value="Unactive">Unactive</option>
                                </select>
                            </div>
                        </div><!--end col-->
                    </div><!--end row-->
                </div>
                <div class="modal-footer">
                    <div class="hstack gap-2 justify-content-end">
                        <button type="button" class="btn btn-ghost-danger" (click)="addInstructor.hide()"><i class="bi bi-x-lg align-baseline me-1"></i> Close</button>
                        <button type="submit" class="btn btn-primary" id="add-btn">Add Instructor</button>
                    </div>
                </div>
            </form>
        </div>
        <!-- modal-content -->
    </div>
</div><!--end modal-->

<!-- deleteRecordModal -->
<div bsModal #deleteRecordModal="bs-modal" id="deleteRecordModal" class="modal fade zoomIn">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" id="deleteRecord-close" (click)="deleteRecordModal.hide()"></button>
            </div>
            <div class="modal-body p-md-5">
                <div class="text-center">
                    <div class="text-danger">
                        <i class="bi bi-trash display-5"></i>
                    </div>
                    <div class="mt-4">
                        <h4 class="mb-2">Are you sure ?</h4>
                        <p class="text-muted mx-3 mb-0">Are you sure you want to remove this record ?</p>
                    </div>
                </div>
                <div class="d-flex gap-2 justify-content-center mt-4 pt-2 mb-2">
                    <button type="button" class="btn w-sm btn-light btn-hover" (click)="deleteRecordModal.hide()">Close</button>
                    <button type="button" class="btn w-sm btn-danger btn-hover" id="delete-record" (click)="confirmDelete()">Yes, Delete
                        It!</button>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /deleteRecordModal -->