<app-breadcrumbs title="Список Задач" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>

<div class="col-lg-3 me-auto" style="margin-bottom: 20px;">
    <h6 class="card-title mb-0">{{ project.name }}</h6>
    <quill-editor [readOnly]="true" [modules]="{toolbar: false}" [(ngModel)]="project.description"></quill-editor>
</div>



<div class="row">
    <div *ngFor="let data of supportTickets" class="col-lg-3">
        <div class="card file-manager-widgets" [style.background-size]="'95px'"
            [style.background-position]="'right bottom'">
            <div class="card-body">
                <div class="d-flex align-items-center mb-4">
                    <div class="flex-grow-1">
                        <div class="avatar-sm">
                            <div class="avatar-title" [ngClass]="[data.imgBg + '-subtle', 'text-' + data.imgBg]"
                                class="rounded fs-xl">
                                <i [class]="data.img"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <h4 class="fw-semibold mb-3">{{ data.count }}</h4>
                <p class="fw-medium text-muted mb-0">{{ data.title | uppercase }}</p>
            </div>
        </div>
    </div>
</div>

<div class="row" id="ticketsList">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <div class="row align-items-center g-2">
                    <div class="col-lg-3 me-auto">
                        <h6 class="card-title mb-0">Список задач</h6>
                    </div><!--end col-->
                    <div class="col-lg-2 col-sm-4">
                    </div><!--end col-->
                </div><!--end row-->
            </div>
            <div class="card-body mt-3">
                <div class="table-responsive">
                    <table class="table table-hover table-nowrap mb-0">
                        <thead class="table-light">
                            <tr>
                                <th scope="col">Назва</th>
                                <th scope="col">Пріорітет</th>
                                <th scope="col">Статус</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let task of tasks; let i = index"
                                [routerLink]="['/tickets/overview', task.task_id]">
                                <td>{{ task.name }}</td>

                                <td>{{ task.priority }}</td>
                                <td>
                                    <ul class="d-flex gap-2 list-unstyled mb-0">
                                        <li *ngIf="task.state === 'open'"><a href="javascript:void(0);"
                                                class="btn btn-subtle-primary btn-icon btn-sm"><i
                                                    class="ph-ticket"></i></a></li>
                                        <li *ngIf="task.state === 'in_progress'"><a href="javascript:void(0);"
                                                class="btn btn-subtle-primary btn-icon btn-sm"><i
                                                    class="ph-pen"></i></a></li>
                                        <li *ngIf="task.state === 'in_review'"><a href="javascript:void(0);"
                                                class="btn btn-subtle-primary btn-icon btn-sm"><i
                                                    class="ph-eye"></i></a></li>
                                        <li *ngIf="task.state === 'resubmit'"><a href="javascript:void(0);"
                                                class="btn btn-subtle-warning btn-icon btn-sm"><i
                                                    class="bx bx-time"></i></a></li>
                                        <li *ngIf="task.state === 'done'"><a href="javascript:void(0);"
                                                class="btn btn-subtle-success btn-icon btn-sm"><i
                                                    class="bx bx-check-square"></i></a></li>
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>


                <div class="noresult d-none">
                    <div class="text-center py-4">
                        <i class="ph-magnifying-glass fs-1 text-primary"></i>
                        <h5 class="mt-2">Sorry! No Result Found</h5>
                        <p class="text-muted mb-0">We've searched more than 6k+ tickets We did not find any tickets
                            for you search.</p>
                    </div>
                </div>
            </div>
            <div class="row align-items-center mt-4 pt-3" id="pagination-element">
                <div class="col-sm">
                    <div class="text-muted text-center text-sm-start">
                        Showing <span class="fw-semibold">{{tickets?.length}}</span> of <span
                            class="fw-semibold">{{alltickets?.length}}</span> Results
                    </div>
                </div><!--end col-->
                <div class="col-sm-auto mt-3 mt-sm-0">
                    <pagination class="pagination-wrap hstack justify-content-center gap-2"
                        [totalItems]="alltickets?.legnth" [itemsPerPage]="10" (pageChanged)="pageChanged($event)">
                    </pagination>
                </div>
            </div>
        </div>
    </div>
</div>