<div class="chat-wrapper d-lg-flex gap-1 p-1 mb-3">
    <div class="chat-wrapper-menu p-3 d-flex flex-column rounded">
        <ul class="chat-menu list-unstyled text-center nav nav-pills justify-content-center">
            <li class="nav-item" placement="right" tooltip="Chats" [class.active]="currentTab === 'chats'" (click)="changeTab('chats')" placement="right">
                <a href="javascript:void(0);" class="nav-link active" [ngClass]="{'active':currentTab === 'chats'}"><i class="bi bi-chat-dots"></i></a>
            </li>
            <li class="nav-item" placement="right" tooltip="Attachment" [class.active]="currentTab === 'attachment'" (click)="changeTab('attachment')">
                <a href="javascript:void(0);" class="nav-link" [ngClass]="{'active':currentTab === 'attachment'}"><i class="bi bi-file-earmark-richtext"></i></a>
            </li>
        </ul>
    </div>
    <div class="chat-leftsidebar">
        <div class="tab-content">
            <div [hidden]="currentTab !== 'chats'" class="tab-pane show active" id="pills-chats">
                <div class="p-4">
                    <div class="d-flex align-items-start">
                        <div class="flex-grow-1">
                            <h5 class="mb-4">Chats</h5>
                        </div>
                    </div>
                    <div class="search-box">
                        <input type="text" class="form-control bg-light border-light" placeholder="Search here...">
                        <i class="ri-search-2-line search-icon"></i>
                    </div>
                </div> <!-- .p-4 -->

                <ngx-simplebar class="chat-room-list">
                    <div class="chat-message-list">
                        <ul class="list-unstyled chat-list chat-user-list" id="userList">
                            @for (data of chatData; track $index) {
                            <li id="userList" [ngClass]="$index == 0 ? 'active':''"> <a href="javascript: void(0);">
                                    <div class="d-flex align-items-center" (click)="chatUsername(data.name, data.image,$event)">
                                        <div class="flex-shrink-0 chat-user-img online align-self-center me-2 ms-0">
                                            <div class="avatar-xxs">
                                                @if (data.nickname) {
                                                <div class="avatar-title rounded-circle bg-primary text-white fs-xxs">
                                                    {{data.nickname}}</div>
                                                }
                                            </div>
                                        </div>
                                        <div class="flex-grow-1 overflow-hidden">
                                            <p class="text-truncate mb-0">{{data.name}}</p>
                                        </div>
                                        @if (data.messagecount) {
                                        <div class="ms-auto"><span class="badge bg-dark-subtle text-dark rounded p-1">{{data.messagecount}}</span></div>
                                        }
                                    </div>
                                </a>
                            </li>
                            }
                        </ul>
                    </div>

                    <div class="d-flex align-items-center px-4 mt-4 pt-4 mb-2">
                        <div class="flex-grow-1">
                            <h4 class="mb-0 fs-xs text-muted text-uppercase">Channels</h4>
                        </div>
                        <div class="flex-shrink-0">
                            <div placement="bottom" tooltip="Create group" container="body">
                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-subtle-success btn-sm">
                                    <i class="ri-add-line align-bottom"></i>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="chat-message-list">
                        <ul class="list-unstyled chat-list chat-user-list mb-0" id="channelList">
                            @for (data of channeldata; track $index) {
                            <li id="contact-id-10" data-name="channel">
                                <a href="javascript: void(0);" class="unread-msg-user">
                                    <div class="d-flex align-items-center">
                                        <div class="flex-shrink-0 chat-user-img align-self-center me-2 ms-0">
                                            <div class="avatar-xxs">
                                                <div class="avatar-title bg-light rounded-circle text-body">#</div>
                                            </div>
                                        </div>
                                        <div class="flex-grow-1 overflow-hidden">
                                            <p class="text-truncate mb-0">{{data.name}}</p>
                                        </div>
                                        @if (data.messageCount) {
                                        <div>
                                            <div class="flex-shrink-0 ms-2"><span class="badge bg-dark-subtle text-dark rounded p-1">{{data.messageCount}}</span>
                                            </div>
                                        </div>
                                        }
                                    </div>
                                </a>
                            </li>
                            }
                        </ul>
                    </div>
                    <!-- End chat-message-list -->
                </ngx-simplebar>
                <!-- end tab contact -->
            </div>

            <div [hidden]="currentTab !== 'contacts'" class="tab-pane fade show active" id="pills-contacts">
                <div>
                    <div class="p-4">
                        <div class="d-flex align-items-start">
                            <div class="flex-grow-1">
                                <h5 class="mb-4">Contacts</h5>
                            </div>
                            <div class="flex-shrink-0">
                                <div placement="bottom" tooltip="Add Contact">
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-subtle-primary btn-sm">
                                        <i class="ri-add-line align-bottom"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="search-box">
                            <input type="text" class="form-control bg-light border-light" placeholder="Search here...">
                            <i class="ri-search-2-line search-icon"></i>
                        </div>
                    </div> <!-- .p-4 -->
                    <div>
                        <ngx-simplebar class="chat-room-list">
                            @for (data of contactData; track $index) {
                            <div class="sort-contact">
                                <div class="mt-3">
                                    <div class="contact-list-title">{{data.title}} </div>
                                    <ul id="contact-sort-A" class="list-unstyled contact-list">
                                        @for (contact of data.contacts; track $index) {
                                        <li>
                                            <div class="d-flex align-items-center">
                                                <div class="flex-shrink-0 me-2">
                                                    <div class="avatar-xxs">
                                                        <span class="avatar-title rounded-circle bg-primary fs-xxs">{{contact.profile}}</span>
                                                    </div>
                                                </div>
                                                <div class="flex-grow-1">
                                                    <p class="text-truncate contactlist-name mb-0">{{contact.name}}
                                                    </p>
                                                </div>
                                                <div class="flex-shrink-0">
                                                    <div dropdown container="body" class="dropdown">
                                                        <a dropdownToggle href="javascript:void(0);" class="text-muted">
                                                            <i class="bi bi-three-dots-vertical"></i> </a>
                                                        <div *bsDropdownMenu class="dropdown-menu dropdown-menu-end"> <a class="dropdown-item" href="javascript:void(0);"><i class="bi bi-pencil text-muted me-2 align-bottom"></i>Edit</a>
                                                            <a class="dropdown-item" href="javascript:void(0);"><i class="bi bi-slash-circle text-muted me-2 align-bottom"></i>Block</a>
                                                            <a class="dropdown-item" href="javascript:void(0);"><i class="bi bi-trash3 text-muted me-2 align-bottom"></i>Remove</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        }
                                    </ul>
                                </div>
                            </div>
                            }
                        </ngx-simplebar>
                    </div>
                </div>
            </div>

            <div [hidden]="currentTab !== 'attachment'" class="tab-pane show fade active" id="pills-attachment">
                <div>
                    <div class="px-4 pt-4">
                        <h5 class="mb-4">Attachment</h5>
                    </div>

                    <ngx-simplebar class="chat-bookmark-list px-4">
                        @for(data of attachementsData;track $index){
                        <div class="card p-2 border mb-2">
                            <div class="d-flex align-items-center">
                                <div class="flex-shrink-0 avatar-xs ms-1 me-3">
                                </div>
                                <div class="flex-grow-1 overflow-hidden">
                                    <h5 class="fs-sm fw-medium text-truncate mb-1">{{data.foldername}}</h5>
                                    <p class="text-muted fs-xs mb-0">{{data.foldersize}}</p>
                                </div>

                                <div class="flex-shrink-0 ms-3">
                                    <div class="d-flex gap-2">
                                        <div>
                                            <a href="javascript:void(0);" class="text-muted px-1">
                                                <i class="bi bi-download"></i>
                                            </a>
                                        </div>
                                        <div dropdown [container]="'body'" class="dropdown">
                                            <a dropdownToggle class="text-muted px-1" href="javascript:void(0);" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="bi bi-three-dots"></i>
                                            </a>
                                            <div *bsDropdownMenu class="dropdown-menu dropdown-menu-end">
                                                <a class="dropdown-item d-flex align-items-center justify-content-between" href="javascript:void(0);">Share <i class="bi bi-share ms-2 text-muted"></i></a>
                                                <a class="dropdown-item d-flex align-items-center justify-content-between" href="javascript:void(0);">Bookmark <i class="bi bi-bookmarks text-muted ms-2"></i></a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item d-flex align-items-center justify-content-between" href="javascript:void(0);">Delete <i class="bi bi-trash3 ms-2 text-muted"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        }
                    </ngx-simplebar>

                </div>
            </div>
            <!-- end tab-pane -->
        </div>
        <!-- end tab content -->
    </div>
    <!-- end chat leftsidebar -->

    <!-- Start User chat -->
    <div class="user-chat w-100 overflow-hidden">

        <div class="chat-content" [ngClass]="{'d-none': !showChatContent, 'd-lg-flex': showChatContent}">
            <!-- start chat conversation section -->
            <div class="w-100 overflow-hidden position-relative">
                <!-- conversation user -->
                <div class="position-relative">

                    <div class="position-relative" id="users-chat">
                        <div class="p-3 user-chat-topbar border-bottom border-2">
                            <div class="row align-items-center flex-nowrap">
                                <div class="col-sm-4 col">
                                    <div class="d-flex align-items-center">
                                        <div class="flex-shrink-0 d-block d-lg-none me-3">
                                            <a href="javascript: void(0);" (click)="hideChat();" class="user-chat-remove fs-lg p-1"><i class="ri-arrow-left-s-line align-bottom"></i></a>
                                        </div>
                                        <div class="flex-grow-1 overflow-hidden">
                                            <div class="d-flex align-items-center" (click)="openEnd()">
                                                <div class="flex-shrink-0 chat-user-img user-own-img align-self-center me-3 ms-0" [ngClass]="{'away': isStatus == 'away', 'online': isStatus == 'online'}">
                                                    <img src="{{isProfile}}" class="rounded-circle avatar-xs" alt="">
                                                    <span class="user-status"></span>
                                                </div>
                                                <div class="flex-grow-1 overflow-hidden">
                                                    <h5 class="text-truncate mb-1 fs-lg"><a class="text-reset username" data-bs-toggle="offcanvas" href="javascript:void(0);" aria-controls="userProfileCanvasExample">{{username}}</a>
                                                    </h5>
                                                    <p class="text-truncate text-muted fs-md mb-0 userStatus">
                                                        <small>{{isStatus | titlecase }}</small>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-8 col-auto">
                                    <ul class="list-inline user-chat-nav text-end mb-0">
                                        <li class="list-inline-item m-0">
                                            <div dropdown [insideClick]="true" class="dropdown">
                                                <button dropdownToggle class="btn btn-ghost-secondary btn-icon" type="button">
                                                    <i class="bi bi-search"></i>
                                                </button>
                                                <div *bsDropdownMenu class="dropdown-menu p-0 dropdown-menu-end dropdown-menu-lg">
                                                    <div class="p-2">
                                                        <div class="search-box">
                                                            <input type="text" class="form-control bg-light border-light" placeholder="Search here..." (keyup)="MessageSearch()" id="searchMessage">
                                                            <i class="ri-search-2-line search-icon"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                        <!-- end chat user head -->
                        <ngx-simplebar class="chat-conversation p-3 p-lg-4" #scrollRef>
                            <ul class="list-unstyled chat-conversation-list" id="users-conversation">
                                @for (data of messageData; track $index) {
                                <li class="chat-list left" [ngClass]="data.isSender == true?'right':'left'">
                                    <div class="conversation-list">
                                        @if (data.isSender == false) {
                                        <div class="chat-avatar">
                                            <img src="{{isProfile}}" alt="">
                                        </div>
                                        }
                                        <div class="user-chat-content">
                                            <div class="ctext-wrap">
                                                @if (data.image) {
                                                <div class="message-img mb-0">
                                                    @for(images of data.image;track $index){
                                                        <div class="message-img-list">
                                                            <div> <a class="popup-img d-inline-block" href="javascript:void(0);"> <img src="{{images}}" alt="" class="rounded border"> </a> </div>
                                                            <div class="message-img-link">
                                                                <ul class="list-inline mb-0">
                                                                    <li dropdown [dropup]="true" class="list-inline-item dropdown">
                                                                        <a dropdownToggle class="dropdown-toggle" href="javascript:void(0);" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="bi bi-three-dots"></i> </a>
                                                                        <div *bsDropdownMenu class="dropdown-menu">
                                                                            <a class="dropdown-item" href="javascript:void(0);" download="">
                                                                                <i class="ri-download-2-line me-2 text-muted align-bottom"></i>Download
                                                                            </a>
                                                                            <a class="dropdown-item" href="javascript:void(0);">
                                                                                <i class="bi bi-reply me-2 text-muted align-bottom"></i>Reply
                                                                            </a>
                                                                            <a class="dropdown-item" href="javascript:void(0);">
                                                                                <i class="bi bi-share me-2 text-muted align-bottom"></i>Forward
                                                                            </a>
                                                                            <a class="dropdown-item" href="javascript:void(0);">
                                                                                <i class="bi bi-bookmarks me-2 text-muted align-bottom"></i>Bookmark
                                                                            </a>
                                                                            <a class="dropdown-item delete-image" href="javascript:void(0);">
                                                                                <i class="bi bi-trash3 me-2 text-muted align-bottom"></i>Delete
                                                                            </a>
                                                                        </div>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    }
                                                </div>
                                                }@else{
                                                <div class="ctext-wrap-content">
                                                    @if (data.replayName) {
                                                    <div class="replymessage-block mb-0 d-flex align-items-start">
                                                        <div class="flex-grow-1">
                                                            <h5 class="conversation-name">{{data.replayName}}</h5>
                                                            <p class="mb-0">{{data.replaymsg}}</p>
                                                        </div>
                                                        <div class="flex-shrink-0">
                                                            <button type="button" class="btn btn-sm btn-link mt-n2 me-n3 font-size-18">
                                                            </button>
                                                        </div>
                                                    </div>
                                                    }
                                                    <p class="mb-0 ctext-content">{{data.message}}</p>

                                                </div>
                                                <div [dropup]="$index == messageData.length - 1?true:false" class="dropdown align-self-start message-box-drop" dropdown>
                                                    <a class="dropdown-toggle" href="javascript:void(0);" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" dropdownToggle>
                                                        <i class="ri-more-2-fill"></i>
                                                    </a>
                                                    <div class="dropdown-menu" *bsDropdownMenu>
                                                        <a class="dropdown-item reply-message" href="javascript:void(0);" (click)="replyMessage($event,data.isSender)"><i class="ri-reply-line me-2 text-muted align-bottom float-start"></i>Reply</a>
                                                        <a class="dropdown-item" href="javascript:void(0);"><i class="ri-share-line me-2 text-muted align-bottom float-start"></i>Forward</a>
                                                        <a class="dropdown-item copy-message" href="javascript:void(0);" (click)="copyMessage($event)"><i class="ri-file-copy-line me-2 text-muted align-bottom float-start"></i>Copy</a>
                                                        <a class="dropdown-item" href="javascript:void(0);"><i class="ri-bookmark-line me-2 text-muted align-bottom float-start"></i>Bookmark</a>
                                                        <a class="dropdown-item delete-item" href="javascript:void(0);" (click)="deleteMessage($event)"><i class="ri-delete-bin-5-line me-2 text-muted align-bottom float-start"></i>Delete</a>
                                                    </div>
                                                </div>
                                                }
                                            </div>
                                            <div class="conversation-name"><small class="text-muted time">{{data.createdAt}}</small> <span class="text-success check-message-icon"><i class="ri-check-double-line align-bottom"></i></span></div>
                                        </div>
                                    </div>
                                </li>
                                }
                                <!-- chat-list -->
                            </ul>
                            <!-- end chat-conversation-list -->
                        </ngx-simplebar>
                        <div class="alert alert-warning alert-dismissible copyclipboard-alert px-4 fade show " id="copyClipBoard" role="alert">
                            Message copied
                        </div>
                    </div>

                    <div class="position-relative" id="channel-chat" style="display: none;">
                        <div class="p-3 user-chat-topbar border-bottom border-2">
                            <div class="row align-items-center flex-nowrap">
                                <div class="col-sm-4 col">
                                    <div class="d-flex align-items-center">
                                        <div class="flex-shrink-0 d-block d-lg-none me-3">
                                            <a href="javascript: void(0);" class="user-chat-remove fs-lg p-1"><i class="ri-arrow-left-s-line align-bottom"></i></a>
                                        </div>
                                        <div class="flex-grow-1 overflow-hidden">
                                            <div class="d-flex align-items-center">
                                                <div class="flex-shrink-0 chat-user-img online user-own-img align-self-center me-3 ms-0">
                                                    <img src="{{isProfile}}" class="rounded-circle avatar-xs" alt="">
                                                </div>
                                                <div class="flex-grow-1 overflow-hidden">
                                                    <h5 class="text-truncate mb-0 fs-lg"><a class="text-reset username" data-bs-toggle="offcanvas" href="javascript:void(0);" aria-controls="userProfileCanvasExample">Lisa Parker</a>
                                                    </h5>
                                                    <p class="text-truncate text-muted fs-md mb-0 userStatus"><small>24
                                                            Members</small></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-8 col-auto">
                                    <ul class="list-inline user-chat-nav text-end mb-0">
                                        <li class="list-inline-item m-0">
                                            <div dropdown class="dropdown">
                                                <button dropdownToggle class="btn btn-ghost-secondary btn-icon" type="button">
                                                    <i class="bi bi-search"></i>
                                                </button>
                                                <div *bsDropdownMenu class="dropdown-menu p-0 dropdown-menu-end dropdown-menu-lg">
                                                    <div class="p-2">
                                                        <div class="search-box">
                                                            <input type="text" class="form-control bg-light border-light" placeholder="Search here..." onkeyup="searchMessages()" id="searchMessage">
                                                            <i class="ri-search-2-line search-icon"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                        <!-- end chat user head -->
                        <ngx-simplebar class="chat-conversation p-3 p-lg-4" id="chat-conversation">
                            <ul class="list-unstyled chat-conversation-list" id="channel-conversation">
                            </ul>
                            <!-- end chat-conversation-list -->

                        </ngx-simplebar>
                        <div class="alert alert-warning alert-dismissible copyclipboard-alert px-4 fade show " id="copyClipBoardChannel" role="alert">
                            Message copied
                        </div>
                    </div>

                    <!-- end chat-conversation -->

                    <div class="chat-input-section p-3 p-lg-4 border-top border-2">

                    </div>

                    <div class="replyCard">
                        <div class="card mb-0">
                            <div class="card-body">
                                <div class="replymessage-block mb-0 d-flex align-items-start">
                                    <div class="flex-grow-1">
                                        <h5 class="conversation-name"></h5>
                                        <p class="mb-0"></p>
                                    </div>
                                    <div class="flex-shrink-0">
                                        <button type="button" id="close_toggle" (click)="closeReplay()" class="btn btn-sm btn-link mt-n2 me-n3 fs-lg">
                                            <i class="bx bx-x align-middle"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end chat-wrapper -->

<div class="offcanvas-backdrop fade backdrop1" id="backdrop" (click)="closeoffcanvas()"></div>
<!--end offcanvas-->