<!-- Start Breadcrumbs -->
<app-breadcrumbs title="Order Overview" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<!-- End Breadcrumbs -->

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body d-flex align-items-center flex-wrap gap-3">
                <div class="flex-grow-1">
                    <p class="text-muted mb-2">Order Number</p>
                    <h6 class="fs-md mb-0">#TBS250001</h6>
                </div>
                <div class="flex-shrink-0 text-end">
                    <h6 class="fs-md mb-2">15 Feb, 2023 <i class="bi bi-calendar4-event align-baseline ms-1"></i></h6>
                    <p class="text-muted mb-0">08:54 AM <i class="bi bi-clock align-baseline ms-1"></i></p>
                </div>
                <div class="flex-shrink-0">
                    <a routerLink="/invoices/overview" class="btn btn-primary"><i class="ph-download-simple align-middle me-1"></i> Invoice</a>
                </div>
            </div>
        </div><!--end card-->
    </div><!--end col-->
</div><!--end row-->

<div class="row">
    <div class="col-xxl-3 col-md-6">
        <div class="card border-bottom border-2 border-secondary">
            <div class="card-body d-flex gap-3">
                <div class="flex-grow-1">
                    <h6 class="card-title mb-3">Customer Info</h6>
                    <p class="fw-medium fs-md mb-1">Bryana Watsica</p>
                    <p class="text-muted mb-1">watsica&#64;steex.com</p>
                    <p class="text-muted mb-0">+(253) 01234 56789</p>
                </div>
                <div class="flex-shrink-0">
                    <img src="assets/images/users/48/avatar-1.jpg" alt="" class="avatar-sm rounded img-thumbnail">
                </div>
            </div>
        </div>
    </div><!--end col-->
    <div class="col-xxl-3 col-md-6">
        <div class="card border-bottom border-2 border-primary">
            <div class="card-body d-flex gap-3">
                <div class="flex-grow-1">
                    <h6 class="card-title mb-3">Shipping Info</h6>
                    <p class="fw-medium fs-md mb-1">Jennifer Mayert</p>
                    <p class="text-muted mb-1">730 Madison Ave, Covington</p>
                    <p class="text-muted mb-0">Kentucky, United States</p>
                </div>
                <div class="flex-shrink-0">
                    <div class="avatar-sm">
                        <div class="avatar-title bg-primary-subtle text-primary fs-3 rounded">
                            <i class="ph-truck"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!--end col-->
    <div class="col-xxl-3 col-md-6">
        <div class="card border-bottom border-2 border-info">
            <div class="card-body d-flex gap-3">
                <div class="flex-grow-1">
                    <h6 class="card-title mb-3">Billing Info</h6>
                    <p class="fw-medium fs-md mb-1">Bryana Watsica</p>
                    <p class="text-muted mb-1">730 Madison Ave, Covington</p>
                    <p class="text-muted mb-0">Kentucky, United States</p>
                </div>
                <div class="flex-shrink-0">
                    <div class="avatar-sm">
                        <div class="avatar-title bg-info-subtle text-info fs-3 rounded">
                            <i class="ph-file-text"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!--end col-->
    <div class="col-xxl-3 col-md-6">
        <div class="card border-bottom border-2 border-light">
            <div class="card-body d-flex gap-3">
                <div class="flex-grow-1">
                    <h6 class="card-title mb-3">Payment Info</h6>
                    <p class="fw-medium fs-md mb-1">ID: #TBS3650259845</p>
                    <p class="text-muted mb-1">Payment Method: <b>Debit Card</b></p>
                    <p class="text-muted mb-0">Card Number: <b>xxxx xxxx xxxx 2456</b></p>
                </div>
                <div class="flex-shrink-0">
                    <div class="avatar-sm">
                        <div class="avatar-title bg-light text-body fs-3 rounded">
                            <i class="ph-currency-circle-dollar"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!--end col-->
</div><!--end row-->

<div class="row">
    <div class="col-xxl-9">
        <div class="card">
            <div class="card-header d-flex align-items-center gap-3">
                <h6 class="card-title mb-0 flex-grow-1">Product Items</h6>
                <div class="flex-shrink-0">
                    <button type="button" class="btn btn-danger btn-sm me-1"><i class="ph-x align-middle"></i> Cancel
                        Order</button>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table align-middle table-nowrap table-borderless">
                        <thead class="table-active">
                            <tr>
                                <th>Product Items</th>
                                <th>Item Price</th>
                                <th>Quantity</th>
                                <th class="text-end">Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="product-item d-flex align-items-center gap-2">
                                        <div class="avatar-sm flex-shrink-0">
                                            <div class="avatar-title bg-light rounded">
                                                <img src="assets/images/products/32/img-1.png" alt="" class="avatar-xs">
                                            </div>
                                        </div>
                                        <div class="flex-grow-1">
                                            <h6 class="fs-md"><a routerLink="/ecommerce/product-details" class="text-reset">Branded T-Shirts</a></h6>
                                            <p class="text-muted mb-0"><a href="javascript:void(0);" class="text-reset">Fashion</a></p>
                                        </div>
                                    </div>
                                </td>
                                <td>$161.25</td>
                                <td>03</td>
                                <td class="fw-medium text-end">$483.75</td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="product-item d-flex align-items-center gap-2">
                                        <div class="avatar-sm flex-shrink-0">
                                            <div class="avatar-title bg-light rounded">
                                                <img src="assets/images/products/32/img-3.png" alt="" class="avatar-xs">
                                            </div>
                                        </div>
                                        <div class="flex-grow-1">
                                            <h6 class="fs-md"><a routerLink="ecommerce/product-details" class="text-reset">Fossil gen 5E smart watch</a></h6>
                                            <p class="text-muted mb-0"><a href="javascript:void(0);" class="text-reset">Watch</a></p>
                                        </div>
                                    </div>
                                </td>
                                <td>$69.60</td>
                                <td>02</td>
                                <td class="fw-medium text-end">$139.20</td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="product-item d-flex align-items-center gap-2">
                                        <div class="avatar-sm flex-shrink-0">
                                            <div class="avatar-title bg-light rounded">
                                                <img src="assets/images/products/32/img-6.png" alt="" class="avatar-xs">
                                            </div>
                                        </div>
                                        <div class="flex-grow-1">
                                            <h6 class="fs-md"><a routerLink="ecommerce/product-details" class="text-reset">Blive Printed Men Round Neck</a></h6>
                                            <p class="text-muted mb-0"><a href="javascript:void(0);" class="text-reset">Fashion</a></p>
                                        </div>
                                    </div>
                                </td>
                                <td>$250.00</td>
                                <td>06</td>
                                <td class="fw-medium text-end">$1,500.00</td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="product-item d-flex align-items-center gap-2">
                                        <div class="avatar-sm flex-shrink-0">
                                            <div class="avatar-title bg-light rounded">
                                                <img src="assets/images/products/32/img-9.png" alt="" class="avatar-xs">
                                            </div>
                                        </div>
                                        <div class="flex-grow-1">
                                            <h6 class="fs-md"><a routerLink="ecommerce/product-details" class="text-reset">Flip-Flops and House Slippers</a></h6>
                                            <p class="text-muted mb-0"><a href="javascript:void(0);" class="text-reset">Footwear</a></p>
                                        </div>
                                    </div>
                                </td>
                                <td>$150.00</td>
                                <td>01</td>
                                <td class="fw-medium text-end">$150.00</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row gy-3">
                    <div class="col-sm-6 col-lg-6 col-xl-3">
                        <div class="text-center border border-dashed p-3 rounded">
                            <p class="text-muted mb-2">Order Date</p>
                            <h6 class="fs-md mb-0">15 Feb, 2023</h6>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-6 col-xl-3">
                        <div class="text-center border border-dashed p-3 rounded">
                            <p class="text-muted mb-2">Delivery Date</p>
                            <h6 class="fs-md mb-0">23 Feb, 2023</h6>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-6 col-xl-3">
                        <div class="text-center border border-dashed p-3 rounded">
                            <p class="text-muted mb-2">Order Amount</p>
                            <h6 class="fs-md mb-0">$2,050.18</h6>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-6 col-xl-3">
                        <div class="text-center border border-dashed p-3 rounded">
                            <p class="text-muted mb-2">Order Status</p>
                            <span class="badge bg-danger-subtle text-danger mb-0">Out of Delivery</span>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--end card-->
    </div><!--end col-->
    <div class="col-xxl-3">
        <div class="row">
            <div class="col-xxl-12 col-lg-6">
                <div class="card">
                    <div class="card-header">
                        <h6 class="card-title mb-0">Total order amount</h6>
                    </div>
                    <div class="card-body pt-4">
                        <div class="table-responsive table-card">
                            <table class="table table-borderless mb-0">
                                <tbody>
                                    <tr>
                                        <td>Sub Total :</td>
                                        <td class="text-end">$2,272.95</td>
                                    </tr>
                                    <tr>
                                        <td>Discount <span class="text-muted">(STEEX30)</span> : :</td>
                                        <td class="text-end">-$681.89</td>
                                    </tr>
                                    <tr>
                                        <td>Shipping Charge :</td>
                                        <td class="text-end">$49.99</td>
                                    </tr>
                                    <tr>
                                        <td>Estimated Tax :</td>
                                        <td class="text-end">$409.13</td>
                                    </tr>
                                    <tr class="border-top border-top-dashed">
                                        <th scope="row">Total (USD) :</th>
                                        <th class="text-end">$2,050.18</th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div><!--end col-->
            <div class="col-xxl-12 col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <h5 class="card-title flex-grow-1 mb-0">Logistics Details</h5>
                            <div class="flex-shrink-0">
                                <a href="javascript:void(0);" class="badge bg-secondary-subtle text-secondary">Track
                                    Order</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body border-top border-dashed">
                        <div>
                            <h6 class="text-muted float-end mb-0">ID: MFDS1400457854</h6>
                            <h5 class="fs-lg clearfix"><a href="javascript:void(0);" class="text-reset">Themesbrand</a>
                            </h5>
                            <p class="text-muted mb-2 mb-md-0">Scan barcode to track </p>
                            <div class="text-center p-3 pb-0">
                                <img alt="Scan Me!" src="assets/images/barcode.svg" class="img-fluid">
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end col-->
</div><!--end row-->

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header d-flex align-items-center flex-wrap gap-2">
                <h6 class="card-title flex-grow-1 mb-0">Order Status</h6>
                <div class="flex-shrink-0">
                    <button type="button" class="btn btn-danger btn-sm me-1"><i class="ph-x align-middle"></i> Cancel
                        Order</button>
                    <a routerLink="/invoices/overview" class="btn btn-primary btn-sm"><i class="ph-download-simple align-middle "></i> Invoice</a>
                </div>
            </div>
            <div class="card-body">
                <div class="progress progress-step-arrow progress-info mb-4">
                    <a href="javascript:void(0);" class="progress-bar active" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"><i class="ph-bag align-baseline me-1 d-none d-lg-inline-block"></i> Order Placed</a>
                    <a href="javascript:void(0);" class="progress-bar active d-none d-xxl-inline-block" role="progressbar" style="width: 100%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"><i class="ph-package align-middle me-1"></i> Packed</a>
                    <a href="javascript:void(0);" class="progress-bar pending d-none d-md-inline-block" role="progressbar" style="width: 100%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"><i class="ph-truck align-baseline me-1 d-none d-lg-inline-block"></i>
                        Shipping</a>
                    <a href="javascript:void(0);" class="progress-bar d-none d-md-inline-block" role="progressbar" style="width: 100%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"><i class="ph-bicycle align-baseline me-1 d-none d-lg-inline-block"></i> Out For Delivery</a>
                    <a href="javascript:void(0);" class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"><i class="ph-house-line align-baseline me-1 d-none d-lg-inline-block"></i> Delivered</a>
                </div>

                <div id="map" class="leaflet-map leaflet-gray" style="height: 380px;">
                </div>
            </div>
        </div>
    </div><!--end col-->
</div><!--end row-->