<div class="row">
    <div class="col-xxl-9">
        <div class="row">
            <div class="col-xxl-9">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <span class="badge bg-success-subtle text-success float-end"><i class="bi bi-arrow-up"></i> 4.65%</span>
                                <p class="fs-md text-muted mb-4">Total Students</p>
                                <h3 class="mb-n3"><span class="counter-value" [countUp]="4879"></span>k </h3>
                                <div id="total_students" class="apex-charts" dir="ltr">
                                    <apx-chart [series]="totalstudentsChart.series" [chart]="totalstudentsChart.chart" [plotOptions]="totalstudentsChart.plotOptions" [grid]="totalstudentsChart.grid" [legend]="totalstudentsChart.legend" [dataLabels]="totalstudentsChart.dataLabels" [yaxis]="totalstudentsChart.yaxis" [colors]="totalstudentsChart.colors" [xaxis]="totalstudentsChart.xaxis" [stroke]="totalstudentsChart.stroke" dir="ltr"></apx-chart>
                                </div>
                            </div>
                        </div>
                    </div><!--end row-->
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <span class="badge bg-danger-subtle text-danger float-end"><i class="bi bi-arrow-down"></i> 1.27%</span>
                                <p class="fs-md text-muted mb-4">Total Courses</p>
                                <h3 class="mb-n3"><span class="counter-value" [countUp]="754"></span> </h3>
                                <div id="total_courses" class="apex-charts" dir="ltr">
                                    <apx-chart [series]="totalcoursesChart.series" [chart]="totalcoursesChart.chart" [plotOptions]="totalcoursesChart.plotOptions" [grid]="totalcoursesChart.grid" [legend]="totalcoursesChart.legend" [dataLabels]="totalcoursesChart.dataLabels" [yaxis]="totalcoursesChart.yaxis" [colors]="totalcoursesChart.colors" [xaxis]="totalcoursesChart.xaxis" [stroke]="totalcoursesChart.stroke" dir="ltr"></apx-chart>
                                </div>
                            </div>
                        </div>
                    </div><!--end col-->
                    <div class="col-xxl-12">
                        <div class="card">
                            <div class="card-header d-flex align-items-center">
                                <h6 class="card-title mb-0 flex-grow-1">Features Course Categories</h6>
                                <div class="flex-shrink-0">
                                    <a routerLink="/learning/category" class="icon-link icon-link-hover">View All <i class="bi bi-arrow-right"></i></a>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row g-4">
                                    <div class="col-lg-3 col-sm-6">
                                        <div class="text-center">
                                            <div class="avatar-sm mx-auto">
                                                <div class="avatar-title bg-success-subtle rounded">
                                                    <img src="assets/images/learning/shopify.png" alt="" class="avatar-xs">
                                                </div>
                                            </div>
                                            <h6 class="text-trucate mb-0 mt-3"><a routerLink="/learning/grid" class="text-reset">Shopify Development</a></h6>
                                        </div>
                                    </div><!--end col-->
                                    <div class="col-lg-3 col-sm-6">
                                        <div class="text-center">
                                            <div class="avatar-sm mx-auto">
                                                <div class="avatar-title bg-info-subtle rounded">
                                                    <img src="assets/images/learning/webpack.png" alt="" class="avatar-xs">
                                                </div>
                                            </div>
                                            <h6 class="text-trucate mb-0 mt-3"><a routerLink="/learning/grid" class="text-reset">Marketing & Management</a></h6>
                                        </div>
                                    </div><!--end col-->
                                    <div class="col-lg-3 col-sm-6">
                                        <div class="text-center">
                                            <div class="avatar-sm mx-auto">
                                                <div class="avatar-title bg-danger-subtle rounded">
                                                    <img src="assets/images/learning/laravel.png" alt="" class="avatar-xs">
                                                </div>
                                            </div>
                                            <h6 class="text-trucate mb-0 mt-3"><a routerLink="/learning/grid" class="text-reset">Laravel Development</a></h6>
                                        </div>
                                    </div><!--end col-->
                                    <div class="col-lg-3 col-sm-6">
                                        <div class="text-center">
                                            <div class="avatar-sm mx-auto">
                                                <div class="avatar-title bg-info-subtle rounded">
                                                    <img src="assets/images/learning/react.png" alt="" class="avatar-xs">
                                                </div>
                                            </div>
                                            <h6 class="text-trucate mb-0 mt-3"><a routerLink="/learning/grid" class="text-reset">React Development</a></h6>
                                        </div>
                                    </div><!--end col-->
                                </div><!--end row-->
                            </div>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end col-->
            <div class="col-xxl-3">
                <div class="card card-height-100">
                    <div class="card-header d-flex">
                        <h5 class="card-title mb-0 flex-grow-1">Daily Progress</h5>
                        <div class="flex-shrink-0">
                            <div dropdown class="dropdown card-header-dropdown sortble-dropdown">
                                <a dropdownToggle class="text-reset dropdown-btn" href="javascript:void(0);">
                                    <span class="text-muted dropdown-title">Today</span> <i class="mdi mdi-chevron-down ms-1"></i>
                                </a>
                                <div *bsDropdownMenu class="dropdown-menu dropdown-menu-end">
                                    <button class="dropdown-item">Today</button>
                                    <button class="dropdown-item">This Week</button>
                                    <button class="dropdown-item">This Month</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body text-center">
                        <div id="stroked_radialbar" class="apex-charts" dir="ltr">
                            <apx-chart [series]="strokedradialbarChart.series" [chart]="strokedradialbarChart.chart" [plotOptions]="strokedradialbarChart.plotOptions" [grid]="strokedradialbarChart.grid" [fill]="strokedradialbarChart.fill" [labels]="strokedradialbarChart.labels" [colors]="strokedradialbarChart.colors" [stroke]="strokedradialbarChart.stroke" dir="ltr"></apx-chart>
                        </div>
                        <p class="text-muted mb-0">Very good, keep improving the quality of your learning</p>
                    </div>
                </div>
            </div><!--end col-->
        </div><!--end row-->

        <div class="row">
            <div class="col-lg-8">
                <div class="card card-height-100">
                    <div class="card-header align-items-center d-flex">
                        <h4 class="card-title mb-0 flex-grow-1">Learning Overview</h4>
                        <div>
                            <button type="button" class="btn btn-subtle-secondary btn-sm me-1" (click)="changeLearning()">
                                ALL
                            </button>
                            <button type="button" class="btn btn-subtle-secondary btn-sm me-1" (click)="changeLearning()">
                                1M
                            </button>
                            <button type="button" class="btn btn-subtle-secondary btn-sm me-1" (click)="changeLearning()">
                                6M
                            </button>
                            <button type="button" class="btn btn-subtle-primary btn-sm" (click)="changeLearning()">
                                1Y
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div id="area_chart_spline" class="apex-charts ms-n3" dir="ltr">
                            <apx-chart [series]="areasplineChart.series" [chart]="areasplineChart.chart" [markers]="areasplineChart.markers" [grid]="areasplineChart.grid" [fill]="areasplineChart.fill" [legend]="areasplineChart.legend" [dataLabels]="areasplineChart.dataLabels" [xaxis]="areasplineChart.xaxis" [colors]="areasplineChart.colors" [stroke]="areasplineChart.stroke" dir="ltr"></apx-chart>
                        </div>
                    </div>
                </div>
            </div><!--end col-->
            <div class="col-lg-4">
                <div class="card card-height-100">
                    <div class="card-header d-flex align-items-center">
                        <h6 class="card-title mb-0 flex-grow-1">Best instructors</h6>
                        <div class="flex-shrink-0">
                            <a routerLink="/learning/instructors-list" class="icon-link icon-link-hover">View All <i class="bi bi-arrow-right"></i></a>
                        </div>
                    </div>
                    <div class="card-body px-0">
                        <ngx-simplebar class="card-body py-0" style="max-height: 330px;">
                            <div class="table-responsive table-card mt-0">
                                <table class="table mb-0">
                                    <tbody>
                                        @for (data of instructordata; track $index) {
                                        <tr>
                                            <td>
                                                <div class="d-flex align-items-center gap-1">
                                                    <div class="flex-shrink-0">
                                                        <img src="{{data.img}}" alt="" class="avatar-sm rounded-circle p-1">
                                                    </div>
                                                    <div class="flex-grow-1">
                                                        <h6 class="fs-md mb-1"><a routerLink="/learning/instructors-overview" class="text-reset">{{data.name}}</a></h6>
                                                        <p class="text-muted mb-0">{{data.course}} Courses</p>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="text-end">
                                                <span class="badge bg-warning-subtle text-warning"><i class="bi bi-star-fill"></i> {{data.rate}}</span>
                                            </td>
                                        </tr>
                                    }
                                    </tbody>
                                </table>
                            </div>
                        </ngx-simplebar>
                    </div>
                </div>
            </div><!--end col-->
        </div><!--end row-->

        <div class="card" id="coursesList">
            <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1">Recent Courses</h4>
                <div class="flex-shrink-0">
                    <div dropdown class="dropdown card-header-dropdown sortble-dropdown">
                        <a dropdownToggle class="text-reset dropdown-btn" href="javascript:void(0);">
                            <span class="fw-semibold text-uppercase fs-xs">Sort by:
                            </span><span class="text-muted dropdown-title">{{sortValue}}</span> <i class="mdi mdi-chevron-down ms-1"></i>
                        </a>
                        <div *bsDropdownMenu class="dropdown-menu dropdown-menu-end">
                            <button class="dropdown-item sort" (click)="sortBy('name','Course Name')">Course Name</button>
                            <button class="dropdown-item sort" (click)="sortBy('instructor','Instructor')">Instructor</button>
                            <button class="dropdown-item sort" (click)="sortBy('fees','Amount')">Amount</button>
                            <button class="dropdown-item sort" (click)="sortBy('status','Status')">Status</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive table-card mt-0">
                    <table class="table table-borderless table-centered align-middle table-nowrap mb-0">
                        <thead class="text-muted table-light">
                            <tr>
                                <th scope="col" class="sort cursor-pointer" (click)="onSort('name')">Course Name</th>
                                <th scope="col" class="sort cursor-pointer" (click)="onSort('category')">Category</th>
                                <th scope="col" class="sort cursor-pointer" (click)="onSort('instructor')">Instructor</th>
                                <th scope="col" class="sort cursor-pointer" (click)="onSort('lession')">Lessons</th>
                                <th scope="col" class="sort cursor-pointer" (click)="onSort('duration')">Duration</th>
                                <th scope="col" class="sort cursor-pointer" (click)="onSort('fees')">Fees</th>
                                <th scope="col" class="sort cursor-pointer" (click)="onSort('status')">Status</th>
                                <th scope="col" class="sort cursor-pointer" (click)="onSort('rating')">Rating</th>
                            </tr>
                        </thead>
                        <tbody class="list">
                            @for (data of courseList; track $index) {
                            <tr>
                                <td>
                                    <div class="d-flex align-items-center gap-2">
                                        <img src="{{data.img}}" alt="react.png" class="avatar-xxs rounded"> <a routerLink="/learning/overview" class="text-reset courses_Name">{{data.name}}</a>
                                    </div>
                                </td>
                                <td class="category">
                                    {{data.category}}
                                </td>
                                <td class="instructor">
                                    {{data.instructor}}
                                </td>
                                <td class="lessons">
                                    {{data.lession}}
                                </td>
                                <td class="duration">{{data.duration}}</td>
                                <td>
                                    <span class="fw-medium fees">{{data.fees}}</span>
                                </td>
                                <td>
                                    <span class="badge status" [ngClass]="{'bg-info-subtle text-info':data.status === 'Open','bg-danger-subtle text-danger':data.status === 'Close'}">{{data.status}}</span>
                                </td>
                                <td>
                                    <h5 class="fs-md fw-medium mb-0 rating"><i class="ph-star align-baseline text-warning"></i> {{data.rating}}</h5>
                                </td>
                            </tr><!-- end tr -->
                        }
                        </tbody><!-- end tbody -->
                    </table><!-- end table -->
                </div>
                <div class="align-items-center mt-4 pt-2 row">
                    <div class="col-sm">
                        <div class="text-muted text-center text-sm-start">
                            Showing <span class="fw-semibold">6</span> of <span class="fw-semibold">{{courseList.length}}</span> Results
                        </div>
                    </div>
                    <div class="col-sm-auto mt-3 mt-sm-0">
                        <pagination [totalItems]="courseList.length - 1" [itemsPerPage]="5"></pagination>
                    </div>
                </div>
            </div>
        </div>
    </div><!--end col-->
    <div class="col-xxl-3">
        <div class="card card-height-100">
            <div class="card-body">
                <div class="d-flex mb-3">
                    <div class="flex-grow-1">
                        <h6 class="card-title mb-0">Overview</h6>
                    </div>
                    <div dropdown class="dropdown flex-shrink-0">
                        <button dropdownToggle class="btn avatar-xs btn-subtle-secondary p-0" type="button">
                            <i class="bi bi-share"></i>
                        </button>
                        <ul *bsDropdownMenu class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item" href="javascript:void(0);"><i class="bi bi-facebook me-1 align-baseline"></i>
                                    Facebook</a></li>
                            <li><a class="dropdown-item" href="javascript:void(0);"><i class="bi bi-whatsapp me-1 align-baseline"></i>
                                    Whatsapp</a></li>
                            <li><a class="dropdown-item" href="javascript:void(0);"><i class="bi bi-instagram me-1 align-baseline"></i>
                                    Instagram</a></li>
                        </ul>
                    </div>
                </div>
                <div class="text-center mb-4 pb-2">
                    <img src="assets/images/users/avatar-3.jpg" alt="" class="avatar-md rounded-circle">
                    <h6 class="fs-md mt-3 mb-1"><a routerLink="/pages/profile" class="text-reset">Richard Marshall <i class="bi bi-patch-check-fill text-info"></i></a></h6>
                    <p class="text-muted mb-4">Create Designer</p>
                    <div class="row g-3">
                        <div class="col-6 border-end border-dashed">
                            <div>
                                <h5>1549</h5>
                                <p class="text-muted mb-0">Students</p>
                            </div>
                        </div>
                        <div class="col-6">
                            <div>
                                <h5>137</h5>
                                <p class="text-muted mb-0">Courses</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="p-3 bg-light rounded courses-calendar-dashboard">
                    <div class="d-flex align-items-center gap-2 mb-4">
                        <div class="flex-shrink-0">
                            <button class="btn btn-sm btn-secondary"><i class="bi bi-chevron-left"></i></button>
                        </div>
                        <h6 class="flex-grow-1 mb-0 text-center fs-md">
                            December - 2023
                        </h6>
                        <div class="flex-shrink-0">
                            <button class="btn btn-sm btn-secondary"><i class="bi bi-chevron-right"></i></button>
                        </div>
                    </div>
                    <div class="d-flex gap-2 justify-content-around date-calendar flex-wrap">
                        <a href="javascript:void(0);" class="week flex-shrink-0 active">
                            <h6 class="mb-3">S</h6>
                            <div class="avatar-xs">
                                <div class="avatar-title rounded-circle">21</div>
                            </div>
                        </a>
                        <a href="javascript:void(0);" class="week flex-shrink-0">
                            <h6 class="mb-3">M</h6>
                            <div class="avatar-xs">
                                <div class="avatar-title rounded-circle">22</div>
                            </div>
                        </a>
                        <a href="javascript:void(0);" class="week flex-shrink-0">
                            <h6 class="mb-3">T</h6>
                            <div class="avatar-xs">
                                <div class="avatar-title rounded-circle">23</div>
                            </div>
                        </a>
                        <a href="javascript:void(0);" class="week flex-shrink-0">
                            <h6 class="mb-3">W</h6>
                            <div class="avatar-xs">
                                <div class="avatar-title rounded-circle">24</div>
                            </div>
                        </a>
                        <a href="javascript:void(0);" class="week flex-shrink-0">
                            <h6 class="mb-3">T</h6>
                            <div class="avatar-xs">
                                <div class="avatar-title rounded-circle">25</div>
                            </div>
                        </a>
                        <a href="javascript:void(0);" class="week flex-shrink-0">
                            <h6 class="mb-3">F</h6>
                            <div class="avatar-xs">
                                <div class="avatar-title rounded-circle">26</div>
                            </div>
                        </a>
                        <a href="javascript:void(0);" class="week flex-shrink-0">
                            <h6 class="mb-3">S</h6>
                            <div class="avatar-xs">
                                <div class="avatar-title rounded-circle">27</div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="mt-4">
                    <h6 class="card-title mb-3">Upcoming Schedule</h6>

                    <div class="card border-start border-primary border-3">
                        <div class="card-body">
                            <A routerLink="/learning/overview" class="btn btn-primary btn-icon btn-sm float-end"><i class="bi bi-arrow-right"></i></A>
                            <h6 class="text-truncate"><a href="javascript:void(0);" class="text-reset">UI/UX style guide
                                    with sketch</a>
                            </h6>
                            <p class="text-muted mb-0"><i class="bi bi-calendar2 align-baseline me-1"></i> Today <i class="bi bi-clock align-baseline mx-1"></i> 02:18 PM</p>
                        </div>
                    </div>
                    <div class="card border-start border-primary border-3">
                        <div class="card-body">
                            <A routerLink="/learning/overview" class="btn btn-primary btn-icon btn-sm float-end"><i class="bi bi-arrow-right"></i></A>
                            <h6 class="text-truncate"><a href="javascript:void(0);" class="text-reset">Advanced React
                                    And Redux</a></h6>
                            <p class="text-muted mb-0"><i class="bi bi-calendar2 align-baseline me-1"></i> 04 April,
                                2023 <i class="bi bi-clock align-baseline mx-1"></i> 03:00 to 04:00 PM</p>
                        </div>
                    </div>
                    <div class="card border-start border-primary border-3">
                        <div class="card-body">
                            <A routerLink="/learning/overview" class="btn btn-primary btn-icon btn-sm float-end"><i class="bi bi-arrow-right"></i></A>
                            <h6 class="text-truncate"><a href="javascript:void(0);" class="text-reset">Tailwind CSS From
                                    Scratch</a></h6>
                            <p class="text-muted mb-0"><i class="bi bi-calendar2 align-baseline me-1"></i> 08 April,
                                2023 <i class="bi bi-clock align-baseline mx-1"></i> 07:36 AM</p>
                        </div>
                    </div>
                    <div class="card border-start border-primary border-3">
                        <div class="card-body">
                            <A routerLink="/learning/overview" class="btn btn-primary btn-icon btn-sm float-end"><i class="bi bi-arrow-right"></i></A>
                            <h6 class="text-truncate"><a href="javascript:void(0);" class="text-reset">REST APIs With
                                    Flask</a></h6>
                            <p class="text-muted mb-0"><i class="bi bi-calendar2 align-baseline me-1"></i> 15 April,
                                2023 <i class="bi bi-clock align-baseline mx-1"></i> 10:11 PM</p>
                        </div>
                    </div>
                    <div class="card border-start border-primary border-3">
                        <div class="card-body">
                            <A routerLink="/learning/overview" class="btn btn-primary btn-icon btn-sm float-end"><i class="bi bi-arrow-right"></i></A>
                            <h6 class="text-truncate"><a href="javascript:void(0);" class="text-reset">Asp.Net Core 7
                                    True Ultimate
                                    Guide</a></h6>
                            <p class="text-muted mb-0"><i class="bi bi-calendar2 align-baseline me-1"></i> 24 May, 2023
                                <i class="bi bi-clock align-baseline mx-1"></i> 07:00 to 10:00 AM
                            </p>
                        </div>
                    </div>
                </div>

                <div class="card bg-primary overflow-hidden mb-0">
                    <div class="position-absolute bottom-0" style="opacity: 0.15;">
                        <img src="assets/images/effect-pattern/pattern-2.svg" alt="" class="img-fluid">
                    </div>
                    <div class="card-body position-relative">
                        <img src="assets/images/logo-light.png" alt="" height="22">
                        <h6 class="text-white fs-md fw-medium mt-4">Go Premium</h6>
                        <p class="text-white-75">Explore 500+ courses with lifetime membership by themesbrand</p>
                        <a href="javascript:void(0);" class="icon-link icon-link-hover stretched-link text-white-75">Premium Now <i class="bi bi-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div><!--end col-->
</div><!--end row-->