$utilities: (
    
    "border": (property: border,
        responsive: true,
        values: (null: var(--#{$prefix}border-width) var(--#{$prefix}border-style) var(--#{$prefix}border-color),
            0: 0,
        )),

    "border-top": (property: border-top,
        responsive: true,
        values: (null: var(--#{$prefix}border-width) var(--#{$prefix}border-style) var(--#{$prefix}border-color),
            0: 0,
        )),

    "border-end": (property: border-right,
        class: border-end,
        responsive: true,
        values: (null: var(--#{$prefix}border-width) var(--#{$prefix}border-style) var(--#{$prefix}border-color),
            0: 0,
        )),

    "border-bottom": (property: border-bottom,
        responsive: true,
        values: (null: var(--#{$prefix}border-width) var(--#{$prefix}border-style) var(--#{$prefix}border-color),
            0: 0,
        )),

    "border-start": (property: border-left,
        class: border-start,
        responsive: true,
        values: (null: var(--#{$prefix}border-width) var(--#{$prefix}border-style) var(--#{$prefix}border-color),
            0: 0,
        )),

    "border-style": (css-var: true,
        css-variable-name: border-style,
        class: border,
        values: $border-styles ),

    "border-width": (css-var: true,
        css-variable-name: border-width,
        class: border,
        values: $border-widths ),

    "cursor-pointer": (property: cursor,
        class: cursor,
        rtl: false,
        values: none auto pointer grab),
);