<div class="row">
    <div class="col-xl-4">
        <div class="card card-height-100 border-0 overflow-hidden">
            <div class="card-body p-0">
                <div class="row g-0">
                    <div class="col-md-6">
                        <!-- card -->
                        <div class="card shadow-none border-end-md border-bottom rounded-0 mb-0">
                            <div class="card-body">
                                <div dropdown container="body" class="dropdown float-end">
                                    <a dropdownToggle class="text-reset dropdown-btn" href="javascript:void(0);">
                                        <span class="text-muted fs-lg"><i class="mdi mdi-dots-vertical align-middle"></i></span>
                                    </a>
                                    <div *bsDropdownMenu class="dropdown-menu dropdown-menu-end dropdown-responsive">
                                        <a class="dropdown-item" href="javascript:void(0);">Today</a>
                                        <a class="dropdown-item" href="javascript:void(0);">Last Week</a>
                                        <a class="dropdown-item" href="javascript:void(0);">Last Month</a>
                                        <a class="dropdown-item" href="javascript:void(0);">Current Year</a>
                                    </div>
                                </div>
                                <div class="avatar-sm">
                                    <span class="avatar-title bg-primary-subtle text-primary rounded-circle fs-3">
                                        <i class="ph-wallet"></i>
                                    </span>
                                </div>
                                <div class="mt-4">
                                    <p class="text-uppercase fw-medium text-muted text-truncate fs-sm">Total Revenue</p>
                                    <h4 class="fw-semibold mb-3">$<span class="counter-value" [countUp]="750.36">0</span>M </h4>
                                    <div class="d-flex align-items-center gap-2">
                                        <h5 class="text-success fs-xs mb-0">
                                            <i class="ri-arrow-right-up-line fs-sm align-middle"></i> +19.07 %
                                        </h5>
                                        <p class="text-muted mb-0">than last week</p>
                                    </div>
                                </div>
                            </div><!-- end card body -->
                        </div><!-- end card -->
                    </div><!-- end col -->
                    <div class="col-md-6">
                        <!-- card -->
                        <div class="card shadow-none border-bottom rounded-0 mb-0">
                            <div class="card-body">
                                <div dropdown class="dropdown float-end">
                                    <a dropdownToggle class="text-reset dropdown-btn" href="javascript:void(0);">
                                        <span class="text-muted fs-lg"><i class="mdi mdi-dots-vertical align-middle"></i></span>
                                    </a>
                                    <div *bsDropdownMenu class="dropdown-menu dropdown-menu-end">
                                        <a class="dropdown-item" href="javascript:void(0);">Today</a>
                                        <a class="dropdown-item" href="javascript:void(0);">Last Week</a>
                                        <a class="dropdown-item" href="javascript:void(0);">Last Month</a>
                                        <a class="dropdown-item" href="javascript:void(0);">Current Year</a>
                                    </div>
                                </div>
                                <div class="avatar-sm">
                                    <span class="avatar-title bg-dark-subtle text-dark rounded-circle fs-3">
                                        <i class="ph-bag"></i>
                                    </span>
                                </div>
                                <div class="mt-4">
                                    <p class="text-uppercase fw-medium text-muted text-truncate fs-sm">Orders</p>
                                    <h4 class="fw-semibold mb-3"><span class="counter-value" [countUp]="684">0</span>
                                    </h4>
                                    <div class="d-flex align-items-center gap-2">
                                        <h5 class="text-success fs-xs mb-0">
                                            <i class="ri-arrow-right-up-line fs-sm align-middle"></i> +8.13 %
                                        </h5>
                                        <p class="text-muted mb-0">than last week</p>
                                    </div>
                                </div>
                            </div><!-- end card body -->
                        </div><!-- end card -->
                    </div><!-- end col -->
                    <div class="col-md-6">
                        <!-- card -->
                        <div class="card shadow-none border-end-md rounded-0 mb-0">
                            <div class="card-body">
                                <div dropdown class="dropdown float-end">
                                    <a dropdownToggle class="text-reset dropdown-btn" href="javascript:void(0);">
                                        <span class="text-muted fs-lg"><i class="mdi mdi-dots-vertical align-middle"></i></span>
                                    </a>
                                    <div *bsDropdownMenu class="dropdown-menu dropdown-menu-end dropdown-responsive">
                                        <a class="dropdown-item" href="javascript:void(0);">Today</a>
                                        <a class="dropdown-item" href="javascript:void(0);">Last Week</a>
                                        <a class="dropdown-item" href="javascript:void(0);">Last Month</a>
                                        <a class="dropdown-item" href="javascript:void(0);">Current Year</a>
                                    </div>
                                </div>
                                <div class="avatar-sm">
                                    <span class="avatar-title bg-light text-body rounded-circle fs-3">
                                        <i class="ph-eye"></i>
                                    </span>
                                </div>
                                <div class="mt-4">
                                    <p class="text-uppercase fw-medium text-muted text-truncate fs-sm">Product Views</p>
                                    <h4 class="fw-semibold mb-3"><span class="counter-value" [countUp]="113870">0</span>
                                    </h4>
                                    <div class="d-flex align-items-center gap-2">
                                        <h5 class="text-danger fs-xs mb-0">
                                            <i class="ri-arrow-right-down-line fs-sm align-middle"></i> +2.01 %
                                        </h5>
                                        <p class="text-muted mb-0">than last week</p>
                                    </div>
                                </div>
                            </div><!-- end card body -->
                        </div><!-- end card -->
                    </div><!-- end col -->
                    <div class="col-md-6">
                        <!-- card -->
                        <div class="card shadow-none border-top border-top-md-0 rounded-0 mb-0">
                            <div class="card-body">
                                <div dropdown class="dropdown float-end">
                                    <a dropdownToggle class="text-reset dropdown-btn" href="javascript:void(0);">
                                        <span class="text-muted fs-lg"><i class="mdi mdi-dots-vertical align-middle"></i></span>
                                    </a>
                                    <div *bsDropdownMenu class="dropdown-menu dropdown-menu-end">
                                        <a class="dropdown-item" href="javascript:void(0);">Today</a>
                                        <a class="dropdown-item" href="javascript:void(0);">Last Week</a>
                                        <a class="dropdown-item" href="javascript:void(0);">Last Month</a>
                                        <a class="dropdown-item" href="javascript:void(0);">Current Year</a>
                                    </div>
                                </div>
                                <div class="avatar-sm">
                                    <span class="avatar-title bg-info-subtle text-info rounded-circle fs-3">
                                        <i class="ph-users-three"></i>
                                    </span>
                                </div>
                                <div class="mt-4">
                                    <p class="text-uppercase fw-medium text-muted text-truncate fs-sm">Customers</p>
                                    <h4 class="fw-semibold mb-3"><span class="counter-value" [countUp]="2500">0</span>k
                                    </h4>
                                    <div class="d-flex align-items-center gap-2">
                                        <h5 class="text-success fs-xs mb-0">
                                            <i class="ri-arrow-right-up-line fs-sm align-middle"></i> +10.42 %
                                        </h5>
                                        <p class="text-muted mb-0">than last week</p>
                                    </div>
                                </div>
                            </div><!-- end card body -->
                        </div><!-- end card -->
                    </div><!-- end col -->
                </div> <!-- end row-->
            </div>
        </div>
    </div><!--end col-->
    <div class="col-xl-8">
        <div class="card">
            <div class="row g-0">
                <div class="col-xl-9">
                    <div class="card-header border-0 align-items-center d-flex">
                        <h4 class="card-title mb-0 flex-grow-1">Revenue</h4>
                        <div>
                            <button type="button" class="btn btn-subtle-secondary btn-sm me-1" (click)="changeRevenue()">
                                ALL
                            </button>
                            <button type="button" class="btn btn-subtle-secondary btn-sm me-1" (click)="changeRevenue()">
                                1M
                            </button>
                            <button type="button" class="btn btn-subtle-secondary btn-sm me-1" (click)="changeRevenue()">
                                6M
                            </button>
                            <button type="button" class="btn btn-subtle-primary btn-sm" (click)="changeRevenue()">
                                1Y
                            </button>
                        </div>
                    </div><!-- end card header -->
                    <div class="card-body ps-0">
                        <div class="w-100">
                            <div id="market-overview" class="apex-charts" dir="ltr">
                                <apx-chart [series]="marketverviewChart.series" [chart]="marketverviewChart.chart" [plotOptions]="marketverviewChart.plotOptions" [stroke]="marketverviewChart.stroke" [fill]="marketverviewChart.fill" [colors]="marketverviewChart.colors" [legend]="marketverviewChart.legend" [xaxis]="marketverviewChart.xaxis" [dataLabels]="marketverviewChart.dataLabels" [grid]="marketverviewChart.grid" dir="ltr"></apx-chart>
                            </div>
                        </div>
                    </div><!-- end card body -->
                </div>
                <div class="col-xl-3">
                    <div class="card-body border-start-xl border-top border-top-xl-0 border-2 h-100">
                        <div>
                            <p class="text-muted mb-2">Budget (USD)</p>
                            <h4>$750.36M <small class="text-success fs-sm fw-normal"><i class="ph-arrow-up align-baseline"></i> 2.17%</small></h4>
                            <p class="text-muted">Budget in than last years</p>
                            <div class="mx-3">
                                <div id="mini-chart-6" class="apex-charts" dir="ltr">
                                    <apx-chart [series]="mini6Chart.series" [chart]="mini6Chart.chart" [stroke]="mini6Chart.stroke" [colors]="mini6Chart.colors" dir="ltr"></apx-chart>
                                </div>
                            </div>
                        </div>

                        <div class="mt-4">
                            <p class="text-muted mb-2">Payouts (USD)</p>
                            <h4>$7,45,123 <small class="text-danger fs-sm fw-normal"><i class="ph-arrow-down align-baseline"></i> -1.36%</small></h4>
                            <p class="text-muted">Payouts in than last years</p>
                            <div class="mx-3">
                                <div id="mini-chart-7" class="apex-charts" dir="ltr">
                                    <apx-chart [series]="mini7Chart.series" [chart]="mini7Chart.chart" [stroke]="mini7Chart.stroke" [colors]="mini7Chart.colors" dir="ltr"></apx-chart>
                                </div>
                            </div>
                        </div>
                        <div class="mt-4">
                            <button type="button" class="btn btn-primary w-100" (click)="addAmount.show()">Add
                                Amount</button>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- end card -->
    </div><!-- end col -->
</div><!--end row-->

<div class="row">
    <div class="col-xl-6">
        <!-- card -->
        <div class="card">
            <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1">Sales by Countries</h4>
                <div class="flex-shrink-0">
                    <button type="button" class="btn btn-subtle-primary btn-sm">
                        Export Report
                    </button>
                </div>
            </div><!-- end card header -->

            <!-- card body -->
            <div class="card-body">

                <div class="row">
                    <div class="col-lg-8">
                        <div id="chartsdiv" style="height: 360px"></div>
                    </div>
                    <div class="col-lg-4">
                        <div class="mb-4">
                            <h6 class="text-muted mb-3 fw-medium fs-xs text-uppercase">Compared to last month</h6>
                            <h3><span class="counter-value" [countUp]="53736" data-target="53736"></span> <small class="text-muted fw-normal fs-sm ms-1">Sales</small></h3>
                        </div>
                        <div>
                            <ul class="list-unstyled vstack gap-2">
                                <li class="p-2 rounded">
                                    <i class="ri-checkbox-blank-circle-fill text-primary align-bottom me-1"></i> United
                                    States <span class="float-end">15,364</span>
                                </li>
                                <li class="bg-light-subtle p-2 rounded">
                                    <i class="ri-checkbox-blank-circle-fill text-secondary align-bottom me-1"></i>
                                    Greenland <span class="float-end">12,387</span>
                                </li>
                                <li class="p-2 rounded">
                                    <i class="ri-checkbox-blank-circle-fill text-info align-bottom me-1"></i> Serbia
                                    <span class="float-end">9,123</span>
                                </li>
                                <li class="bg-light-subtle p-2 rounded">
                                    <i class="ri-checkbox-blank-circle-fill text-success align-bottom me-1"></i> Russia
                                    <span class="float-end">7,108</span>
                                </li>
                                <li class="p-2 rounded">
                                    <i class="ri-checkbox-blank-circle-fill text-danger align-bottom me-1"></i> Brazil
                                    <span class="float-end">6,731</span>
                                </li>
                                <li class="bg-light-subtle p-2 rounded">
                                    <i class="ri-checkbox-blank-circle-fill text-warning align-bottom me-1"></i> Sydney
                                    <span class="float-end">3,023</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end card body -->
        </div>
        <!-- end card -->
    </div>
    <!-- end col -->

    <div class="col-xl-3 col-lg-6">
        <div class="card card-height-100">
            <div class="card-header d-flex">
                <h4 class="card-title mb-0 flex-grow-1">Traffic Source</h4>
                <div dropdown class="dropdown card-header-dropdown float-end">
                    <a dropdownToggle class="text-reset dropdown-btn" href="javascript:void(0);" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="ph-dots-three-outline-vertical"></i>
                    </a>
                    <div *bsDropdownMenu class="dropdown-menu dropdown-menu-end">
                        <a class="dropdown-item" href="javascript:void(0);" (click)="changeTraffic()">Today</a>
                        <a class="dropdown-item" href="javascript:void(0);" (click)="changeTraffic()">Last Week</a>
                        <a class="dropdown-item" href="javascript:void(0);" (click)="changeTraffic()">Last Month</a>
                        <a class="dropdown-item" href="javascript:void(0);" (click)="changeTraffic()">Current Year</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div id="column_chart" class="apex-charts" dir="ltr">
                    <apx-chart [series]="columnChart.series" [chart]="columnChart.chart" [plotOptions]="columnChart.plotOptions" [stroke]="columnChart.stroke" [colors]="columnChart.colors" [legend]="columnChart.legend" [xaxis]="columnChart.xaxis" [yaxis]="columnChart.yaxis" [dataLabels]="columnChart.dataLabels" [grid]="columnChart.grid" dir="ltr"></apx-chart>
                </div>
            </div>
        </div>
    </div><!--end col-->
    <div class="col-xl-3 col-lg-6">
        <div class="card card-height-100">
            <div class="card-header d-flex">
                <h4 class="card-title mb-0 flex-grow-1">Recent Sales</h4>
                <a href="javascript:void(0);" class="text-muted">View All <i class="ph-caret-right align-middle"></i></a>
            </div>
            <div class="card-body px-0">
                <ngx-simplebar class="px-3" style="max-height: 360px;">
                    <table class="table mb-0">
                        <tbody>
                            @for (data of salesList; track $index) {
                            <tr>
                                <td>
                                    <div class="d-flex align-items-center gap-1">
                                        <div class="flex-shrink-0">
                                            <img src="{{data.img}}" alt="" class="avatar-sm rounded-circle p-1">
                                        </div>
                                        <div class="flex-grow-1">
                                            <h6 class="fs-md mb-1">{{data.name}}</h6>
                                            <p class="text-muted mb-0">{{data.date}}</p>
                                        </div>
                                    </div>
                                </td>
                                <td class="text-end">
                                    <h6 class="fs-md">{{data.price}}</h6>
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </ngx-simplebar>
            </div>
        </div>
    </div><!--end col-->
</div><!--end row-->

<div class="row">
    <div class="col-lg-8">
        <div class="card" id="contactList">
            <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1">Latest Orders</h4>
                <div class="flex-shrink-0">
                    <div dropdown class="dropdown card-header-dropdown sortble-dropdown">
                        <a dropdownToggle class="text-reset dropdown-btn" href="javascript:void(0);">
                            <span class="fw-semibold text-uppercase fs-xs">Sort by:
                            </span><span class="text-muted dropdown-title">{{sortValue}}</span> <i class="mdi mdi-chevron-down ms-1"></i>
                        </a>
                        <div *bsDropdownMenu class="dropdown-menu dropdown-menu-end">
                            <button class="dropdown-item sort" (click)="sortBy('date','Order Date')">Order Date</button>
                            <button class="dropdown-item sort" (click)="sortBy('orderId','Order ID')">Order ID</button>
                            <button class="dropdown-item sort" (click)="sortBy('amount','Amount')">Amount</button>
                            <button class="dropdown-item sort" (click)="sortBy('status','Status')">Status</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-borderless table-centered align-middle table-nowrap mb-0">
                        <thead class="text-muted table-light">
                            <tr>
                                <th scope="col" class="sort cursor-pointer" (click)="onSort('date')">Order Date</th>
                                <th scope="col" class="sort cursor-pointer" (click)="onSort('orderId')">Order ID</th>
                                <th scope="col" class="sort cursor-pointer" (click)="onSort('shop')">Shop</th>
                                <th scope="col" class="sort cursor-pointer" (click)="onSort('customer')">Customers</th>
                                <th scope="col" class="sort cursor-pointer" (click)="onSort('product')">Products</th>
                                <th scope="col" class="sort cursor-pointer" (click)="onSort('amount')">Amount</th>
                                <th scope="col" class="sort cursor-pointer" (click)="onSort('status')">Status</th>
                                <th scope="col" class="sort cursor-pointer" (click)="onSort('rating')">Rating</th>
                            </tr>
                        </thead>
                        <tbody class="list">
                            @for (data of orderList; track $index) {
                            <tr>
                                <td class="order_date">
                                    {{data.date}}
                                </td>
                                <td class="order_id">
                                    <a routerLink="/ecommerce/order-overview" class="fw-medium link-primary">{{data.orderId}}</a>
                                </td>
                                <td class="shop">
                                    <img src="{{data.shop}}" alt="" class="avatar-xxs rounded-circle">
                                </td>
                                <td class="customer">
                                    {{data.customer}}
                                </td>
                                <td class="products">{{data.product}}</td>
                                <td class="amount">
                                    <span class="fw-medium">{{data.amount}}</span>
                                </td>
                                <td class="status">
                                    <span class="badge" [ngClass]="{'bg-secondary-subtle text-secondary': data.status === 'New',
                                    'bg-warning-subtle text-warning': data.status === 'Pending',
                                    'bg-danger-subtle text-danger': data.status === 'Out of Delivered',
                                    'bg-primary-subtle text-primary': data.status === 'Shipping',
                                    'bg-success-subtle text-success': data.status === 'Delivered'}">{{data.status}}</span>
                                </td>
                                <td class="rating">
                                    @if (data.rating) {
                                    <h5 class="fs-md fw-medium mb-0">
                                        <i class="ph-star align-baseline text-warning"></i>
                                        {{data.rating}}
                                    </h5>
                                    }@else {
                                    <h5 class="fs-md fw-medium mb-0">-</h5>
                                    }
                                </td>
                            </tr><!-- end tr -->
                        }
                        </tbody><!-- end tbody -->
                    </table><!-- end table -->
                    <div class="noresult" style="display: none">
                        <div class="text-center">
                            <lord-icon src="https://cdn.lordicon.com/msoeawqm.json" trigger="loop" colors="primary:#405189,secondary:#0ab39c" style="width:75px;height:75px"></lord-icon>
                            <h5 class="mt-2">Sorry! No Result Found</h5>
                            <p class="text-muted mb-0">We've searched more than 150+ transactions We did not find any
                                transactions for you search.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!--end col-->
    <div class="col-lg-4">
        <div class="card">
            <div class="card-header d-flex align-items-center">
                <h4 class="card-title mb-0 flex-grow-1">Popular Products</h4>
                <div class="flex-shrink-0">
                    <div dropdown class="dropdown card-header-dropdown">
                        <a dropdownToggle class="text-reset dropdown-btn" href="javascript:void(0);">
                            <span class="fw-semibold text-uppercase">Sort by:
                            </span><span class="text-muted">Today<i class="mdi mdi-chevron-down ms-1"></i></span>
                        </a>
                        <div *bsDropdownMenu class="dropdown-menu dropdown-menu-end">
                            <a class="dropdown-item" href="javascript:void(0);">Today</a>
                            <a class="dropdown-item" href="javascript:void(0);">Yesterday</a>
                            <a class="dropdown-item" href="javascript:void(0);">Last 7 Days</a>
                            <a class="dropdown-item" href="javascript:void(0);">Last 30 Days</a>
                            <a class="dropdown-item" href="javascript:void(0);">This Month</a>
                            <a class="dropdown-item" href="javascript:void(0);">Last Month</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body px-0">
                <ngx-simplebar class="px-3" style="max-height: 333px;">
                    <div class="vstack gap-2">
                        @for (data of produtlist; track $index) {
                        <div class="p-2 border border-dashed">
                            <div class="d-flex align-items-center gap-2">
                                <div class="avatar-sm flex-shrink-0">
                                    <div class="avatar-title bg-light rounded">
                                        <img src="{{data.img}}" alt="" class="avatar-xs">
                                    </div>
                                </div>
                                <div class="flex-grow-1">
                                    <a href="javascript:void(0);">
                                        <h6 class="fs-md mb-2">{{data.title}}</h6>
                                    </a>
                                    <ul class="hstack list-unstyled gap-2 mb-0 fs-sm fw-medium text-muted">
                                        <li>
                                            <i class="ph-star align-baseline"></i> {{data.star}}
                                        </li>
                                        <li>
                                            <i class="ph-shopping-cart align-baseline"></i> {{data.cart}}
                                        </li>
                                    </ul>
                                </div>
                                <div class="text-end">
                                    <h5 class="fs-md text-primary mb-0">{{data.price}}</h5>
                                </div>
                                <div class="flex-shrink-0">
                                    <button class="btn btn-secondary btn-icon btn-sm" (click)="showproductModal($index)"><i class="ph-arrow-right"></i></button>
                                </div>
                            </div>
                        </div>
                    }
                    </div>
                </ngx-simplebar>
            </div>
        </div>
    </div><!--end col-->
</div><!--end row-->

<div class="row">
    <div class="col-xl-4">
        <div class="card">
            <div class="card-header d-flex align-items-center">
                <h5 class="card-title mb-0 flex-grow-1">Orders Status</h5>
                <div dropdown class="dropdown card-header-dropdown">
                    <a dropdownToggle class="text-reset dropdown-btn" href="javascript:void(0);">
                        <i class="ph-dots-three-outline-vertical"></i>
                    </a>
                    <div *bsDropdownMenu class="dropdown-menu dropdown-menu-end">
                        <a class="dropdown-item" href="javascript:void(0);">Current Years</a>
                        <a class="dropdown-item" href="javascript:void(0);">Last Years</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="mb-3 pb-1 text-center">
                    <h6 class="mb-0">01 Jan, 2022 - 01 Jan, 2023</h6>
                </div>

                <div class="row align-items-center mb-3">
                    <div class="col-lg-4">
                        <div class="hstack gap-2">
                            <p class="mb-0 flex-grow-1">New</p>
                            <h6 class="mb-0">307</h6>
                        </div>
                    </div>
                    <div class="col-lg-8">

                        <div class="animated-progress">
                            <progressbar [value]="50" [striped]="true" [animate]="true"></progressbar>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->

                <div class="row align-items-center mb-3">
                    <div class="col-lg-4">
                        <div class="hstack gap-2">
                            <p class="mb-0 flex-grow-1">Pending</p>
                            <h6 class="mb-0">177</h6>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="animated-progress">
                            <progressbar [value]="37" type="warning" [striped]="true" [animate]="true"></progressbar>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->

                <div class="row align-items-center mb-3">
                    <div class="col-lg-4">
                        <div class="hstack gap-2">
                            <p class="mb-0 flex-grow-1">Rejected</p>
                            <h6 class="mb-0">39</h6>
                        </div>
                    </div>
                    <div class="col-lg-8">

                        <div class="animated-progress">
                            <progressbar [value]="12" type="danger" [striped]="true" [animate]="true"></progressbar>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->

                <div class="row align-items-center mb-3">
                    <div class="col-lg-4">
                        <div class="hstack gap-2">
                            <p class="mb-0 flex-grow-1">Returns</p>
                            <h6 class="mb-0">17</h6>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="animated-progress">
                            <progressbar [value]="3" type="danger" [striped]="true" [animate]="true"></progressbar>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->

                <div class="row align-items-center mb-3">
                    <div class="col-lg-4">
                        <div class="hstack gap-2">
                            <p class="mb-0 flex-grow-1">Dispatched</p>
                            <h6 class="mb-0">661</h6>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="animated-progress">
                            <progressbar [value]="57" type="info" [striped]="true" [animate]="true"></progressbar>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->

                <div class="row align-items-center mb-3">
                    <div class="col-lg-4">
                        <div class="hstack gap-2">
                            <p class="mb-0 flex-grow-1">Delivered</p>
                            <h6 class="mb-0">1320</h6>
                        </div>
                    </div><!--end col-->
                    <div class="col-lg-8">
                        <div class="animated-progress">
                            <progressbar [value]="86" type="success" [striped]="true" [animate]="true"></progressbar>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->

                <div class="row align-items-center">
                    <div class="col-lg-4">
                        <div class="hstack gap-2">
                            <p class="mb-0 flex-grow-1">Cancelled</p>
                            <h6 class="mb-0">74</h6>
                        </div>
                    </div><!--end col-->
                    <div class="col-lg-8">
                        <div class="animated-progress">
                            <progressbar [value]="13" type="danger" [striped]="true" [animate]="true"></progressbar>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
            </div>
        </div>
    </div><!--end col-->
    <div class="col-xl-4 col-lg-6">
        <div class="card card-height-100">
            <div class="card-header d-flex">
                <h5 class="card-title flex-grow-1 mb-0">Recent Activity</h5>
                <div class="flex-shrink-0">
                    <a href="javascript:void(0);" class="btn btn-subtle-info btn-sm">View More <i class="ph-caret-right align-middle"></i></a>
                </div>
            </div>
            <div class="card-body px-0">
                <ngx-simplebar class="px-3" style="max-height: 258px;">
                    <div class="acitivity-timeline acitivity-main">
                        <div class="acitivity-item d-flex">
                            <div class="flex-shrink-0 avatar-xs acitivity-avatar">
                                <div class="avatar-title bg-success-subtle text-success rounded-circle">
                                    <i class="ph-shopping-cart"></i>
                                </div>
                            </div>
                            <div class="flex-grow-1 ms-3">
                                <h6 class="mb-1 lh-base">Purchased by James Price</h6>
                                <p class="text-muted mb-2">Product noise evolve smartwatch </p>
                                <small class="mb-0 text-muted">05:57 AM Today</small>
                            </div>
                        </div>
                        <div class="acitivity-item py-3 d-flex">
                            <div class="flex-shrink-0">
                                <img src="assets/images/users/48/avatar-2.jpg" alt="" class="avatar-xs rounded-circle acitivity-avatar">
                            </div>
                            <div class="flex-grow-1 ms-3">
                                <h6 class="mb-1 lh-base">Natasha Carey have liked the products</h6>
                                <p class="text-muted mb-2">Allow users to like products in your WooCommerce store.</p>
                                <small class="mb-0 text-muted">25 Dec, 2022</small>
                            </div>
                        </div>
                        <div class="acitivity-item py-3 d-flex">
                            <div class="flex-shrink-0">
                                <div class="avatar-xs acitivity-avatar">
                                    <div class="avatar-title rounded-circle bg-secondary-subtle text-secondary">
                                        <i class="mdi mdi-sale fs-md"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="flex-grow-1 ms-3">
                                <h6 class="mb-1 lh-base">Today offers by <a routerLink="/ecommerce/seller-overview" class="link-secondary">Digitech Galaxy</a></h6>
                                <p class="text-muted mb-2">Offer is valid on orders of $230 Or above for selected
                                    products only.</p>
                                <small class="mb-0 text-muted">12 Dec, 2022</small>
                            </div>
                        </div>
                        <div class="acitivity-item py-3 d-flex">
                            <div class="flex-shrink-0">
                                <div class="avatar-xs acitivity-avatar">
                                    <div class="avatar-title rounded-circle bg-warning-subtle text-warning">
                                        <i class="ri-bookmark-fill"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="flex-grow-1 ms-3">
                                <h6 class="mb-1 lh-base">Favoried Product</h6>
                                <p class="text-muted mb-2">Esther James have favorited product.</p>
                                <small class="mb-0 text-muted">25 Nov, 2022</small>
                            </div>
                        </div>
                        <div class="acitivity-item py-3 d-flex">
                            <div class="flex-shrink-0">
                                <div class="avatar-xs acitivity-avatar">
                                    <div class="avatar-title rounded-circle bg-secondary-subtle text-secondary">
                                        <i class="mdi mdi-sale fs-md"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="flex-grow-1 ms-3">
                                <h6 class="mb-1 lh-base">Flash sale starting <span class="text-primary">Tomorrow.</span>
                                </h6>
                                <p class="text-muted mb-2">Flash sale by <a href="javascript:void(0);" class="link-secondary fw-medium">Zoetic Fashion</a></p>
                                <small class="mb-0 text-muted">22 Oct, 2022</small>
                            </div>
                        </div>
                        <div class="acitivity-item d-flex">
                            <div class="flex-shrink-0">
                                <div class="avatar-xs acitivity-avatar">
                                    <div class="avatar-title rounded-circle bg-info-subtle text-info">
                                        <i class="ri-line-chart-line"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="flex-grow-1 ms-3">
                                <h6 class="mb-1 lh-base">Monthly sales report</h6>
                                <p class="text-muted mb-2"><span class="text-danger">2 days left</span> notification to
                                    submit the monthly sales report. <a href="javascript:void(0);" class="link-warning text-decoration-underline">Reports Builder</a></p>
                                <small class="mb-0 text-muted">15 Oct, 2022</small>
                            </div>
                        </div>
                    </div>
                </ngx-simplebar>
            </div>
        </div>
    </div><!--end col-->
    <div class="col-xl-4 col-lg-6">
        <div class="card card-height-100">
            <div class="card-header d-flex align-items-center">
                <h5 class="card-title flex-grow-1 mb-0">Insight</h5>
                <div class="flex-shrink-0">
                    <div dropdown class="dropdown card-header-dropdown">
                        <a dropdownToggle class="text-reset dropdown-btn" href="javascript:void(0);">
                            <span class="text-muted">This Month<i class="mdi mdi-chevron-down ms-1"></i></span>
                        </a>
                        <div *bsDropdownMenu class="dropdown-menu dropdown-menu-end">
                            <a class="dropdown-item" href="javascript:void(0);">This Month</a>
                            <a class="dropdown-item" href="javascript:void(0);">Last Month</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="vstack gap-2">
                    <div class="border py-2 px-3 w-100 rounded d-flex align-items-center gap-2">
                        <i class="bi bi-check2-square text-primary"></i>
                        <h6 class="mb-0">The recognition that one has a mental illness</h6>
                    </div>
                    <div class="border py-2 px-3 w-100 rounded d-flex align-items-center gap-2">
                        <i class="bi bi-check2-square text-primary"></i>
                        <h6 class="mb-0">Review market characteristics and trends</h6>
                    </div>
                    <div class="border py-2 px-3 w-100 rounded d-flex align-items-center gap-2">
                        <i class="bi bi-check2-square text-primary"></i>
                        <h6 class="mb-0">Digital analytics data including site analytics</h6>
                    </div>
                    <div class="border py-2 px-3 w-100 rounded d-flex align-items-center gap-2">
                        <i class="bi bi-check2-square text-primary"></i>
                        <h6 class="mb-0">Check uikings theme and give customer support</h6>
                    </div>
                    <div class="border py-2 px-3 w-100 rounded d-flex align-items-center gap-2">
                        <i class="bi bi-check2-square text-primary"></i>
                        <h6 class="mb-0">Success stories and case studies</h6>
                    </div>
                    <div class="border py-2 px-3 w-100 rounded d-flex align-items-center gap-2">
                        <i class="bi bi-check2-square text-primary"></i>
                        <h6 class="mb-0">Preferences & purchase activity</h6>
                    </div>
                </div>
            </div>
        </div>
    </div><!--end col-->
</div><!--end row-->

<!-- Modal -->
<div bsModal #addAmount="bs-modal" class="modal fade" id="addAmount" tabindex="-1" aria-labelledby="addAmountLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" id="addAmountLabel">Add Amount</h1>
                <button type="button" class="btn-close" (click)="addAmount.hide()"></button>
            </div>
            <div class="modal-body">
                <form action="#!">
                    <div class="row g-3">
                        <div class="col-lg-12">
                            <div>
                                <label for="AmountInput" class="form-label">Amount</label>
                                <input type="number" class="form-control" id="AmountInput" placeholder="$000.00">
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <label class="form-label">Select Method</label>
                            <div class="row g-3">
                                <div class="col-lg-4">
                                    <label class="border rounded w-100 form-label p-2">
                                        <input class="form-check-input me-1" name="exampleRadios" type="radio" value="" checked>
                                        Visa
                                    </label>
                                </div>
                                <div class="col-lg-4">
                                    <label class="border rounded w-100 form-label p-2">
                                        <input class="form-check-input me-1" name="exampleRadios" type="radio" value="">
                                        Mastercard
                                    </label>
                                </div>
                                <div class="col-lg-4">
                                    <label class="border rounded w-100 form-label p-2">
                                        <input class="form-check-input me-1" name="exampleRadios" type="radio" value="">
                                        Credit Card
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div>
                                <label for="cardNumber" class="form-label">Card Number</label>
                                <input type="number" class="form-control" id="cardNumber" placeholder="xxxx xxxx xxxx xxxx">
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div>
                                <label for="month" class="form-label">Expiry Date</label>
                                <div class="row g-3">
                                    <div class="col-lg-6">
                                        <input type="number" class="form-control" id="month" placeholder="MM">
                                    </div>
                                    <div class="col-lg-6">
                                        <input type="number" class="form-control" id="years" placeholder="YYYY">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div>
                                <label for="cvv/cvc" class="form-label">CVV/CVC</label>
                                <input type="number" class="form-control" id="cvv/cvc" placeholder="***">
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div>
                                <label for="cardHoldersName" class="form-label">Cardholders Name</label>
                                <input type="text" class="form-control" id="cardHoldersName" placeholder="Enter name">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-ghost-danger" (click)="addAmount.hide()"><i class="ph-x align-middle"></i> Close</button>
                <button type="button" class="btn btn-primary">Add Amount</button>
            </div>
        </div>
    </div>
</div>
<!-- end Modal -->

<!-- Product Modal -->
<div bsModal #productModal="bs-modal" class="modal fade" id="productModal" tabindex="-1">
    @if (productdetail) {
    <div class="modal-dialog modal-lg">
        <div class="modal-content border-0 overflow-hidden">
            <div class="modal-body p-0 ribbon-box">
                <div class="ribbon ribbon-danger ribbon-shape trending-ribbon">
                    <span class="trending-ribbon-text">Trending</span> <i class="ri-flashlight-fill text-white align-bottom float-end ms-1"></i>
                </div>
                <div class="row g-0">
                    <div class="col-lg-5">
                        <div class="bg-primary-subtle p-5 h-100">
                            <div class="p-lg-4">
                                <img src="{{productdetail.img}}" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div><!--end col-->
                    <div class="col-lg-7">
                        <div class="p-4 h-100">
                            <button type="button" class="btn-close float-end" (click)="productModal.hide()"></button>
                            <a href="javascript:void(0);">
                                <h5 class="mb-1">{{productdetail.title}}</h5>
                            </a>
                            <p class="text-muted">Fashion & Clothing</p>

                            <h5 class="mb-3">{{productdetail.price}} <del class="text-muted fs-sm fw-normal">$299.99</del></h5>

                            <ul class="list-unstyled hstack gap-2 mb-4">
                                <li>
                                    Available Colors
                                </li>
                                <li>
                                    <div class="avatar-xxs">
                                        <div class="avatar-title rounded bg-primary-subtle"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="avatar-xxs">
                                        <div class="avatar-title rounded bg-success-subtle"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="avatar-xxs">
                                        <div class="avatar-title rounded bg-danger-subtle"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="avatar-xxs">
                                        <div class="avatar-title rounded bg-dark-subtle"></div>
                                    </div>
                                </li>
                            </ul>

                            <ul class="list-unstyled vstack gap-2 mb-4">
                                <li class=""><i class="bi bi-check2-circle me-2 align-middle text-success"></i>In stock
                                </li>
                                <li class=""><i class="bi bi-check2-circle me-2 align-middle text-success"></i>Free
                                    delivery available</li>
                                <li class=""><i class="bi bi-check2-circle me-2 align-middle text-success"></i>Sales 10%
                                    Off Use Code: <b>STEEX10</b></li>
                            </ul>

                            <div class="hstack gap-2 justify-content-end">
                                <button class="btn btn-primary"><i class="bi bi-cart align-baseline me-1"></i> Add To
                                    Cart</button>
                                <button class="btn btn-subtle-secondary">View Details <i class="bi bi-arrow-right align-baseline ms-1"></i></button>
                            </div>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
            </div>
        </div>
    </div>
    }
</div>
<!-- End Product Modal -->