<section class="auth-page-wrapper py-5 position-relative d-flex align-items-center justify-content-center min-vh-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-11">
                <div class="card mb-0">
                    <div class="row g-0 align-items-center">
                        <div class="col-xxl-5">
                            <div class="card auth-card bg-secondary h-100 border-0 shadow-none d-none d-sm-block mb-0">
                                <div class="card-body py-5 d-flex justify-content-between flex-column h-100">
                                    <div class="text-center">
                                        <h3 class="text-white">Почніть свій шлях до випуску з нами!</h3>
                                        <p class="text-white opacity-75 fs-base">Зводимо людей, ідеї, проекти разом!</p>
                                    </div>

                                    <div class="auth-effect-main my-5 position-relative rounded-circle d-flex align-items-center justify-content-center mx-auto">
                                        <div class="effect-circle-1 position-relative mx-auto rounded-circle d-flex align-items-center justify-content-center">
                                            <div class="effect-circle-2 position-relative mx-auto rounded-circle d-flex align-items-center justify-content-center">
                                                <div class="effect-circle-3 mx-auto rounded-circle position-relative text-white fs-4xl d-flex align-items-center justify-content-center">
                                                    Вітаємо у <span class="text-primary ms-1">ОНТУ</span>
                                                </div>
                                            </div>
                                        </div>
                                        <ul class="auth-user-list list-unstyled">
                                            <li>
                                                <div class="avatar-sm d-inline-block">
                                                    <div class="avatar-title bg-white shadow-lg overflow-hidden rounded-circle">
                                                        <img src="assets/images/users/kotlik.jpg" alt="" class="img-fluid">
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="avatar-sm d-inline-block">
                                                    <div class="avatar-title bg-white shadow-lg overflow-hidden rounded-circle">
                                                        <img src="assets/images/users/lomovcev.jpg" alt="" class="img-fluid">
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="avatar-sm d-inline-block">
                                                    <div class="avatar-title bg-white shadow-lg overflow-hidden rounded-circle">
                                                        <img src="assets/images/users/selivanova.jpg" alt="" class="img-fluid">
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="avatar-sm d-inline-block">
                                                    <div class="avatar-title bg-white shadow-lg overflow-hidden rounded-circle">
                                                        <img src="assets/images/users/popkov.jpg" alt="" class="img-fluid">
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="avatar-sm d-inline-block">
                                                    <div class="avatar-title bg-white shadow-lg overflow-hidden rounded-circle">
                                                        <img src="assets/images/users/antonova.jpg" alt="" class="img-fluid">
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>


                                    <div class="text-center">
                                        <p class="text-white opacity-75 mb-0 mt-3">
                                            &copy; {{year}} ONTU.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end col-->
                        <div class="col-xxl-6 mx-auto">
                            <div class="card mb-0 border-0 shadow-none mb-0">
                                <div class="card-body p-sm-5 m-lg-4">
                                    <div class="text-center mt-2">
                                        <h5 class="fs-3xl">Створіть свій акаунт</h5>
                                    </div>
                                    <div class="p-2 mt-5">
                                        <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" class="needs-validation"
                                            novalidate action="index.html">

                                            <div class="mb-3">
                                                <label for="useremail" class="form-label">Ємейл <span
                                                        class="text-danger">*</span></label>
                                                <input type="email" class="form-control" id="useremail"
                                                    placeholder="Будь-ласка введіть ємейл" required formControlName="email"
                                                    [ngClass]="{ 'is-invalid': submitted && f['email'].errors }">
                                                <div class="invalid-feedback">
                                                    Будь-ласка введіть ємейл
                                                </div>
                                            </div>
                                            <div class="mb-3">
                                                <label for="username" class="form-label">Юзернейм <span class="text-danger">*</span></label>
                                                <input type="text" class="form-control" id="username" placeholder="Будь-ласка введіть юзернейм" required formControlName="username" [ngClass]="{ 'is-invalid': submitted && f['username'].errors }">
                                                <div class="invalid-feedback" *ngIf="submitted && f['username'].errors">
                                                    Будь-ласка введіть юзернейм
                                                </div>
                                              </div>

                                            <div class="mb-3">
                                                <label for="registration_code" class="form-label">Регістраційний код
                                                    <span class="text-danger">*</span></label>
                                                <input type="text" class="form-control" id="registration_code"
                                                    placeholder="Будь-ласка введіть регістраційний код" required
                                                    formControlName="registration_code"
                                                    [ngClass]="{ 'is-invalid': submitted && f['registration_code'].errors }">
                                                <div class="invalid-feedback"
                                                    *ngIf="submitted && f['registration_code'].errors">
                                                    Будь-ласка введіть регістраційний код
                                                </div>
                                            </div>


                                            <div class="mb-3">
                                                <label class="form-label" for="password-input">Пароль <span
                                                        class="text-danger">*</span></label>
                                                <div class="position-relative auth-pass-inputgroup">
                                                    <input [type]="fieldTextType ? 'text' : 'password'"
                                                        class="form-control password-input pe-5"
                                                        placeholder="Будь-ласка введіть пароль" id="password-input"
                                                        pattern="{8,}" required
                                                        formControlName="password"
                                                        [ngClass]="{ 'is-invalid': submitted && f['password'].errors }">
                                                    <button
                                                        class="btn btn-link position-absolute end-0 top-0 text-decoration-none text-muted password-addon"
                                                        type="button" id="password-addon"><i
                                                            class="ri-eye-fill align-middle" [ngClass]="{'mdi-eye-off-outline': !fieldTextType, 'mdi-eye-outline': fieldTextType
                                                    }" (click)="toggleFieldTextType()"></i></button>

                                                </div>
                                            </div>

                                            @if (submitted && f['password'].errors) {
                                            <div id="password-contain" class="p-3 bg-light mb-2 rounded"
                                                class="invalid-feedback">
                                                <h5 class="fs-sm">Password must contain:</h5>
                                                <p id="pass-length" class="invalid fs-xs mb-2">Minimum <b>8
                                                        characters</b></p>
                                            </div>
                                            }

                                            <div class="mt-4">
                                                <button class="btn btn-primary w-100" type="submit">Створити аккаунт</button>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="mt-4 text-center">
                                        <p class="mb-0">Вже є аккаунт? <a routerLink="/auth/login"
                                                class="fw-semibold text-primary text-decoration-underline"> Увійдіть </a>
                                        </p>
                                    </div>
                                </div><!-- end card body -->
                            </div><!-- end card -->
                        </div>
                        <!--end col-->
                    </div>
                    <!--end row-->
                </div>
            </div>
            <!--end col-->
        </div>
        <!--end row-->
    </div>
    <!--end container-->
</section>