<section class="auth-page-wrapper py-5 position-relative d-flex align-items-center justify-content-center min-vh-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-11">
                <div class="card mb-0">
                    <div class="row g-0 align-items-center">
                        <div class="col-xxl-5">
                            <div class="card auth-card bg-secondary h-100 border-0 shadow-none d-none d-sm-block mb-0">
                                <div class="card-body py-5 d-flex justify-content-between flex-column">
                                    <div class="text-center">
                                        <h3 class="text-white">Почніть свій шлях до випуску з нами!</h3>
                                        <p class="text-white opacity-75 fs-base">Зводимо людей, ідеї, проекти разом!</p>
                                    </div>

                                    <div class="auth-effect-main my-5 position-relative rounded-circle d-flex align-items-center justify-content-center mx-auto">
                                        <div class="effect-circle-1 position-relative mx-auto rounded-circle d-flex align-items-center justify-content-center">
                                            <div class="effect-circle-2 position-relative mx-auto rounded-circle d-flex align-items-center justify-content-center">
                                                <div class="effect-circle-3 mx-auto rounded-circle position-relative text-white fs-4xl d-flex align-items-center justify-content-center">
                                                    Вітаємо у <span class="text-primary ms-1">ОНТУ</span>
                                                </div>
                                            </div>
                                        </div>
                                        <ul class="auth-user-list list-unstyled">
                                            <li>
                                                <div class="avatar-sm d-inline-block">
                                                    <div class="avatar-title bg-white shadow-lg overflow-hidden rounded-circle">
                                                        <img src="assets/images/users/kotlik.jpg" alt="" class="img-fluid">
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="avatar-sm d-inline-block">
                                                    <div class="avatar-title bg-white shadow-lg overflow-hidden rounded-circle">
                                                        <img src="assets/images/users/lomovcev.jpg" alt="" class="img-fluid">
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="avatar-sm d-inline-block">
                                                    <div class="avatar-title bg-white shadow-lg overflow-hidden rounded-circle">
                                                        <img src="assets/images/users/selivanova.jpg" alt="" class="img-fluid">
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="avatar-sm d-inline-block">
                                                    <div class="avatar-title bg-white shadow-lg overflow-hidden rounded-circle">
                                                        <img src="assets/images/users/popkov.jpg" alt="" class="img-fluid">
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="avatar-sm d-inline-block">
                                                    <div class="avatar-title bg-white shadow-lg overflow-hidden rounded-circle">
                                                        <img src="assets/images/users/antonova.jpg" alt="" class="img-fluid">
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="text-center">
                                        <p class="text-white opacity-75 mb-0 mt-3">
                                            &copy; {{year}} ONTU.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end col-->
                        <div class="col-xxl-6 mx-auto">
                            <div class="card mb-0 border-0 shadow-none mb-0">
                                <div class="card-body p-sm-5 m-lg-4">
                                    <div class="text-center mt-5">
                                        <h5 class="fs-3xl">З поверненням!</h5>
                                        <p class="text-muted">Увійдіть для продовження роботи</p>
                                    </div>
                                    <div class="p-2 mt-5">
                                        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" action="index.html">

                                            <div class="mb-3">
                                                <label for="username" class="form-label">Емейл <span class="text-danger">*</span></label>
                                                <input type="text" class="form-control" formControlName="username" id="username" [ngClass]="{ 'is-invalid': submitted && f['username'].errors }" placeholder="Enter username" required>
                                                <div *ngIf="submitted && f['username'].errors" class="invalid-feedback">
                                                  <div *ngIf="f['username'].errors['required']">Треба ввести емейл</div>
                                                </div>
                                              </div>

                                            <div class="mb-3">
                                                <div class="float-end">
                                                    <a routerLink="/auth/pass-reset" class="text-muted">Забули пароль?</a>
                                                </div>
                                                <label class="form-label" for="password-input">Пароль <span class="text-danger">*</span></label>
                                                <div class="position-relative auth-pass-inputgroup mb-3">
                                                    <input [type]="fieldTextType ? 'text' : 'password'" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f['password'].errors }" type="password" class="form-control pe-5 password-input " placeholder="Enter password" id="password-input" required>
                                                    <button class="btn btn-link position-absolute end-0 top-0 text-decoration-none text-muted password-addon" type="button" id="password-addon"><i class="ri-eye-fill align-middle" [ngClass]="{'mdi-eye-off-outline': !fieldTextType, 'mdi-eye-outline': fieldTextType
                                                    }" (click)="toggleFieldTextType()"></i></button>
                                                    @if (submitted && f['password'].errors) {
                                                    <div class="invalid-feedback">
                                                        @if (f['password'].errors['required']) {
                                                        <div>Треба ввести пароль</div>
                                                        }
                                                    </div>
                                                    }
                                                </div>
                                            </div>
                                            <div class="mt-4">
                                                <button class="btn btn-primary w-100" type="submit">Логін</button>
                                            </div>
                                        </form>

                                        <div class="text-center mt-5">
                                            <p class="mb-0">Не зареєстровані ? <a routerLink="/auth/register" class="fw-semibold text-secondary text-decoration-underline"> Зробіть це в пару кроків!</a> </p>
                                        </div>
                                    </div>
                                </div><!-- end card body -->
                            </div><!-- end card -->
                        </div>
                        <!--end col-->
                    </div>
                    <!--end row-->
                </div>
            </div>
            <!--end col-->
        </div>
        <!--end row-->
    </div>
    <!--end container-->
</section>