<!-- Start Breadcrumbs -->
<app-breadcrumbs title="Products" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<!-- End Breadcrumbs -->

<div id="productList">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="row g-3">
                        <div class="col-xxl">
                            <div class="search-box">
                                <input type="text" class="form-control search" [(ngModel)]="term" (keyup)="filterdata()" placeholder="Search products, price etc...">
                                <i class="ri-search-line search-icon"></i>
                            </div>
                        </div><!--end col-->
                        <div class="col-xxl col-sm-6">
                            <div>
                                <ng-select [items]="items" [multiple]="true" bindLabel="name" placeholder="Select Brands"></ng-select>
                            </div>
                        </div><!--end col-->
                        <div class="col-xxl-3 col-sm-6">
                            <div>
                                <select class="form-control" id="idCategory">
                                    <option value="">Select Category</option>
                                    <option value="Appliances">Appliances</option>
                                    <option value="Automotive Accessories">Automotive Accessories</option>
                                    <option value="Electronics">Electronics</option>
                                    <option value="Fashion">Fashion</option>
                                    <option value="Furniture">Furniture</option>
                                    <option value="Grocery">Grocery</option>
                                    <option value="Headphones">Headphones</option>
                                    <option value="Kids">Kids</option>
                                    <option value="Luggage">Luggage</option>
                                    <option value="Sports">Sports</option>
                                    <option value="Watches">Watches</option>
                                </select>
                            </div>
                        </div><!--end col-->
                        <div class="col-xxl-2 col-sm-6">
                            <div>
                                <select class="form-control" id="idDiscount">
                                    <option value="all">Select All Discount</option>
                                    <option value="50">50% or more</option>
                                    <option value="40">40% or more</option>
                                    <option value="30">30% or more</option>
                                    <option value="20">20% or more</option>
                                    <option value="10">10% or more</option>
                                    <option value="0">Less than 10%</option>
                                </select>
                            </div>
                        </div><!--end col-->
                        <div class="col-xxl-auto col-sm-6">
                            <button type="button" class="btn btn-secondary w-md"><i class="bi bi-funnel align-baseline me-1"></i> Filters</button>
                        </div><!--end col-->
                    </div><!--end row-->
                </div>
            </div>
        </div><!--end col-->
    </div><!--end row-->

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header d-flex align-items-center">
                    <div class="flex-grow-1">
                        <h5 class="card-title mb-0">Products <span class="badge bg-dark-subtle text-dark ms-1">254</span></h5>
                    </div>
                    <div class="flex-shrink-0">
                        <div class="d-flex flex-wrap align-items-start gap-2">
                            <button class="btn btn-subtle-danger d-none" id="remove-actions" (click)="deleteRecordModal.show()"><i class="ri-delete-bin-2-line"></i></button>
                            <button type="button" class="btn btn-primary add-btn" (click)="showModal.show()"><i class="bi bi-plus-circle align-baseline me-1"></i> Add
                                Product</button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-centered align-middle table-nowrap mb-0">
                            <thead class="table-active">
                                <tr>
                                    <th>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="option" [(ngModel)]="masterSelected" (change)="checkUncheckAll($event)" id="checkAll">
                                            <label class="form-check-label" for="checkAll"></label>
                                        </div>
                                    </th>
                                    <th class="sort cursor-pointer" (click)="onSort('title')">Products</th>
                                    <th class="sort cursor-pointer" (click)="onSort('category')">Category</th>
                                    <th class="sort cursor-pointer" (click)="onSort('stock')">Stock</th>
                                    <th class="sort cursor-pointer" (click)="onSort('price')">Price</th>
                                    <th class="sort cursor-pointer" (click)="onSort('orders')">Orders</th>
                                    <th class="sort cursor-pointer" (click)="onSort('ratings')">Rating</th>
                                    <th class="sort cursor-pointer" (click)="onSort('publish')">Published</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody class="list form-check-all">
                                @for ( data of products; track $index) {
                                <tr id="p_{{data._id}}">
                                    <td>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="checkAll" value="{{data._id}}" [(ngModel)]="data.states" (change)="onCheckboxChange($event)">
                                            <label class="form-check-label"></label>
                                        </div>
                                    </td>
                                    <td class="id" style="display:none;"><a href="javascript:void(0);" class="fw-medium link-primary">#TB01</a></td>
                                    <td class="products">
                                        <div class="d-flex align-items-center">
                                            <div class="avatar-xs bg-light rounded p-1 me-2">
                                                <img src="{{data.img}}" alt="" class="img-fluid d-block">
                                            </div>
                                            <div>
                                                <h6 class="mb-0"><a routerLink="/ecommerce/product-details" class="text-reset products">{{data.title}}</a></h6>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="discount d-none">{{data.discount}}</td>
                                    <td class="category">{{data.category}}</td>
                                    <td class="stock">{{data.stock}}</td>
                                    <td class="price">${{data.price}}</td>
                                    <td class="orders">{{data.orders}}</td>
                                    <td class="rating">
                                        <span class="badge bg-warning-subtle text-warning"><i class="bi bi-star-fill align-baseline me-1"></i> {{data.ratings}}</span>
                                    </td>
                                    <td class="published">{{data.publish}}</td>
                                    <td>
                                        <div dropdown class="dropdown">
                                            <button dropdownToggle class="btn btn-subtle-secondary btn-sm btn-icon">
                                                <i class="bi bi-three-dots-vertical"></i>
                                            </button>

                                            <ul *bsDropdownMenu class="dropdown-menu dropdown-menu-end">
                                                <li><a class="dropdown-item" routerLink="/ecommerce/product-details" href="javascript:void(0);"><i class="ph-eye align-middle me-1"></i> View</a></li>
                                                <li><a class="dropdown-item edit-item-btn" (click)="editList($index)"><i class="ph-pencil align-middle me-1"></i>
                                                        Edit</a></li>
                                                <li><a class="dropdown-item remove-item-btn" (click)="removeItem(data.id)" href="javascript:void(0);"><i class="ph-trash align-middle me-1"></i> Remove</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            }
                            </tbody>
                            <div id="elmLoader">
                                <div class="spinner-border text-primary avatar-sm" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                            </div>
                        </table>
                    </div><!--end table-responsive-->

                    <div class="noresult" style="display: none;">
                        <div class="text-center py-4">
                            <div class="avatar-md mx-auto mb-4">
                                <div class="avatar-title bg-light text-primary rounded-circle fs-4xl">
                                    <i class="bi bi-search"></i>
                                </div>
                            </div>
                            <h5 class="mt-2">Sorry! No Result Found</h5>
                            <p class="text-muted mb-0">We've searched more than 150+ products We did not find any
                                products for you search.</p>
                        </div>
                    </div>
                    <!-- end noresult -->

                    <div class="row mt-3 align-items-center" id="pagination-element">
                        <div class="col-sm">
                            <div class="text-muted text-center text-sm-start">
                                Showing <span class="fw-semibold">{{products?.length}}</span> of <span class="fw-semibold">{{allproducts?.length}}</span> Results
                            </div>
                        </div>

                        <div class="col-sm-auto mt-3 mt-sm-0">
                            <pagination class="pagination-wrap hstack gap-2 justify-content-center" [totalItems]="allproducts?.length" [itemsPerPage]="10" (pageChanged)="pageChanged($event)"></pagination>
                        </div>
                    </div>
                    <!-- end pagination-element -->
                </div>
            </div><!--end card-->
        </div><!--end col-->
    </div><!--end row-->
</div>

<div class="modal fade" bsModal #showModal="bs-modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header px-4 pt-4">
                <h5 class="modal-title" id="exampleModalLabel">Add Product</h5>
                <button type="button" class="btn-close" (click)="showModal.hide()"></button>
            </div>

            <form (ngSubmit)="saveProduct()" [formGroup]="productForm" class="tablelist-form" novalidate autocomplete="off">
                <div class="modal-body p-4">
                    <div id="alert-error-msg" class="d-none alert alert-danger py-2"></div>
                    <input type="hidden" id="id-field">

                    <input type="hidden" id="order-field">
                    <input type="hidden" id="rating-field">
                    <input type="hidden" id="discount-field">

                    <div class="mb-3">
                        <label for="product-title-input" class="form-label">Product title</label>
                        <input type="text" id="product-title-input" formControlName="title" class="form-control" placeholder="Enter product title" required>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Product Images</label>
                        <dropzone class="dropzone" [config]="dropzoneConfig" [message]="'Drop files here or click to upload.'" (success)="onUploadSuccess($event)"></dropzone>

                        @if (uploadedFiles) {
                        <ul class="list-unstyled mb-0" id="dropzone-preview">
                            @for ( file of uploadedFiles; track $index) {
                            <li class="mt-2" id="dropzone-preview-list">
                                <div class="border rounded">
                                    <div class="d-flex p-2">
                                        <div class="flex-shrink-0 me-3">
                                            <div class="avatar-sm bg-light rounded p-2">
                                                <img class="img-fluid rounded d-block" [src]="file.dataURL" alt="Dropzone-Image" />
                                            </div>
                                        </div>
                                        <div class="flex-grow-1">
                                            <div class="pt-1">
                                                <h5 class="fs-md mb-1">{{ file.name }}</h5>
                                                <p class="fs-sm text-muted mb-0">{{ file.size }}</p>
                                            </div>
                                        </div>
                                        <div class="flex-shrink-0 ms-3">
                                            <button (click)="removeFile(file)" class="btn btn-sm btn-danger">Delete</button>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        }
                        </ul>
                    }
                    </div>

                    <div class="mb-3">
                        <label for="product-category-input" class="form-label">Product category</label>
                        <select class="form-select" id="product-category-input" formControlName="category">
                            <option value="">Select product category</option>
                            <option value="Appliances">Appliances</option>
                            <option value="Automotive Accessories">Automotive Accessories</option>
                            <option value="Electronics">Electronics</option>
                            <option value="Fashion">Fashion</option>
                            <option value="Furniture">Furniture</option>
                            <option value="Grocery">Grocery</option>
                            <option value="Headphones">Headphones</option>
                            <option value="Kids">Kids</option>
                            <option value="Luggage">Luggage</option>
                            <option value="Sports">Sports</option>
                            <option value="Watches">Watches</option>
                        </select>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="mb-3">
                                <label for="product-stock-input" class="form-label">Stocks</label>
                                <input type="number" id="product-stock-input" class="form-control" formControlName="stock" placeholder="Enter product stocks" required>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="mb-3">
                                <label for="product-price-input" class="form-label">Price</label>
                                <div class="input-group mb-3">
                                    <span class="input-group-text">$</span>
                                    <input type="number" class="form-control" id="product-price-input" formControlName="price" placeholder="Enter product price" required>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <div class="hstack gap-2 justify-content-end">
                        <button type="button" class="btn btn-ghost-danger" (click)="showModal.hide()"><i class="bi bi-x-lg align-baseline me-1"></i> Close</button>
                        <button type="submit" class="btn btn-primary" id="add-btn">Add product</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- modal -->

<!-- deleteRecordModal -->
<div id="deleteRecordModal" class="modal fade zoomIn" bsModal #deleteRecordModal="bs-modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" id="deleteRecord-close" (click)="deleteRecordModal.hide()"></button>
            </div>
            <div class="modal-body p-md-5">
                <div class="text-center">
                    <div class="text-danger">
                        <i class="bi bi-trash display-4"></i>
                    </div>
                    <div class="mt-4">
                        <h3 class="mb-2">Are you sure ?</h3>
                        <p class="text-muted fs-lg mx-3 mb-0">Are you sure you want to remove this record ?</p>
                    </div>
                </div>
                <div class="d-flex gap-2 justify-content-center mt-4 mb-2">
                    <button type="button" class="btn w-sm btn-light btn-hover" (click)="deleteRecordModal.hide()">Close</button>
                    <button type="button" class="btn w-sm btn-danger btn-hover" id="delete-record" (click)="deleteData(deleteId)">Yes, Delete It!</button>
                </div>
            </div>
        </div>
    </div>
</div>