<!-- Start Breadcrumbs -->
<app-breadcrumbs title="FAQs" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<!-- End Breadcrumbs -->

<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-xl-4">
                <h5 class="card-title mb-3">General Questions</h5>
                <p class="text-muted">General knowledge is information that has been accumulated over time through
                    various mediums and sources. It excludes specialized learning that can only be obtained with
                    extensive training and information confined to a single medium.</p>
            </div><!--end col-->
            <div class="col-xl-8">
                <accordion [closeOthers]="true" class="accordion accordion-border-box" id="genques-accordion">
                    <accordion-group class="accordion-item" [isOpen]="true">
                        <h2 accordion-heading class=" accordion-header" id="genques-headingOne">
                            <button class="accordion-button" type="button">
                                What are FAQ questions?
                            </button>
                        </h2>
                        <div id="genques-collapseOne" class="accordion-collapse collapse show">
                            <div class="accordion-body">
                                An FAQ page <b>(short for Frequently Asked Question page)</b> is a part of your website
                                that provides answers to common questions, assuages concerns, and overcomes objections.
                                It's a space where customers away from your sales-focused landing pages and homepage.
                            </div>
                        </div>
                    </accordion-group>
                    <accordion-group class="accordion-item">
                        <h2 accordion-heading class="accordion-header" id="genques-headingTwo">
                            <button class="accordion-button collapsed" type="button">
                                What is FAQ process?
                            </button>
                        </h2>
                        <div id="genques-collapseTwo" class="accordion-collapse collapse show">
                            <div class="accordion-body">
                                FAQ stands for Frequently Asked Questions. It's <b>your opportunity to communicate with
                                    the most important visitors to your website</b> – those who have begun the
                                decision-making process about whether to do business with you can't fit elsewhere on
                                their website.
                            </div>
                        </div>
                    </accordion-group>
                    <accordion-group class="accordion-item">
                        <h2 accordion-heading class="accordion-header" id="genques-headingThree">
                            <button class="accordion-button collapsed" type="button">
                                What is the purpose of FAQ?
                            </button>
                        </h2>
                        <div id="genques-collapseThree" class="accordion-collapse collapse show">
                            <div class="accordion-body">
                                The purpose of a FAQ is generally to provide information on frequent questions or
                                concerns; however, the format is a useful means of organizing information, and text
                                consisting of questions and their answers may thus be called a FAQ regardless.
                            </div>
                        </div>
                    </accordion-group>
                    <accordion-group class="accordion-item">
                        <h2 accordion-heading class="accordion-header" id="genques-headingFour">
                            <button class="accordion-button collapsed" type="button">
                                What is an online FAQ?
                            </button>
                        </h2>
                        <div id="genques-collapseFour" class="accordion-collapse collapse show">
                            <div class="accordion-body">
                                FAQs stand for frequently asked questions. It is one of the many crucial pages of your
                                website. It gives your customers answers to recurring and common questions and addresses
                                their concerns public product documentation that is released at the same time.
                            </div>
                        </div>
                    </accordion-group>
                    <accordion-group class="accordion-item">
                        <h2 accordion-heading class="accordion-header" id="genques-headingFive">
                            <button class="accordion-button collapsed" type="button">
                                What are some design questions?
                            </button>
                        </h2>
                        <div id="genques-collapseFive" class="accordion-collapse collapse show">
                            <div class="accordion-body">
                                These questions will help clients feel involved with the design process, and they'll
                                also help you brainstorm ideas and fine-tune your creative output.
                            </div>
                        </div>
                    </accordion-group>
                    <accordion-group class="accordion-item">
                        <h2 accordion-heading class="accordion-header" id="genques-headingSix">
                            <button class="accordion-button collapsed" type="button">
                                What are the 4 questions of design?
                            </button>
                        </h2>
                        <div id="genques-collapseSix" class="accordion-collapse collapse show">
                            <div class="accordion-body">
                                The methodology I've found most successful, has been introduced by prof Jeanne Liedtka
                                from Darden Business School and identifies four stages: What is?, What if?, What wows?,
                                and What works?
                            </div>
                        </div>
                    </accordion-group>
                </accordion>
                <!--end accordion-->
            </div>
        </div><!--end row-->
    </div>
</div>

<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-xl-4">
                <h5 class="card-title mb-3">Manage Account</h5>
                <p class="text-muted">Cybersecurity experts recommend changing your password every three months. There
                    may even be situations where you should change your password immediately, especially if a
                    cybercriminal has access to your account.</p>
            </div><!--end col-->
            <div class="col-xl-8">
                <accordion [closeOthers]="true" class="accordion accordion-border-box" id="manageaccount-accordion">
                    <accordion-group class="accordion-item">
                        <h2 accordion-heading class="accordion-header" id="manageaccount-headingOne">
                            <button class="accordion-button collapsed" type="button">
                                What is account management process?
                            </button>
                        </h2>
                        <div id="manageaccount-collapseOne" class="accordion-collapse collapse show">
                            <div class="accordion-body">
                                If several languages coalesce, the grammar of the resulting language is more simple and
                                regular than that of the individual languages. The new common language will be more
                                simple and regular than the existing European languages. It will be as simple their most
                                common words.
                            </div>
                        </div>
                    </accordion-group>
                    <accordion-group class="accordion-item" [isOpen]="true">
                        <h2 accordion-heading class="accordion-header" id="manageaccount-headingTwo">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse">
                                Why is account management important?
                            </button>
                        </h2>
                        <div id="manageaccount-collapseTwo" class="accordion-collapse collapse show">
                            <div class="accordion-body">
                                The new common language will be more simple and regular than the existing European
                                languages. It will be as simple as Occidental; in fact, it will be Occidental. To an
                                English person, it will seem like simplified English, as a skeptical Cambridge friend of
                                mine told me what Occidental is.
                            </div>
                        </div>
                    </accordion-group>
                    <accordion-group class="accordion-item">
                        <h2 accordion-heading class="accordion-header" id="manageaccount-headingThree">
                            <button class="accordion-button collapsed" type="button">
                                What is account manager role?
                            </button>
                        </h2>
                        <div id="manageaccount-collapseThree" class="accordion-collapse collapse show">
                            <div class="accordion-body">
                                he wise man therefore always holds in these matters to this principle of selection: he
                                rejects pleasures to secure other greater pleasures, or else he endures pains to avoid
                                worse pains.But I must explain to you how all this mistaken idea of denouncing pleasure
                                and praising pain was born.
                            </div>
                        </div>
                    </accordion-group>
                    <accordion-group class="accordion-item">
                        <h2 accordion-heading class="accordion-header" id="manageaccount-headingFour">
                            <button class="accordion-button collapsed" type="button">
                                What is a key account strategy?
                            </button>
                        </h2>
                        <div id="manageaccount-collapseFour" class="accordion-collapse collapse show">
                            <div class="accordion-body">
                                Cras ultricies mi eu turpis hendrerit fringilla. Vestibulum ante ipsum primis in
                                faucibus orci luctus et ultrices posuere cubilia Curae; In ac dui quis mi consectetuer
                                lacinia. Nam pretium turpis et arcu arcu tortor, suscipit eget, imperdiet nec, imperdiet
                                iaculis aliquam ultrices mauris.
                            </div>
                        </div>
                    </accordion-group>
                </accordion>
                <!--end accordion-->
            </div><!--end col-->
        </div><!--end row-->
    </div>
</div><!--ene card-->

<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-xl-4">
                <h5 class="card-title mb-3">Privacy & Security</h5>
                <p class="text-muted">Privacy is the right to control how your information is viewed and used, while
                    security is protection against threats or danger. In the digital world, security generally refers to
                    the unauthorized access of data, often involving protection against hackers or cyber criminals.</p>
            </div><!--end col-->
            <div class="col-xl-8">
                <accordion [closeOthers]="true" class="accordion accordion-border-box" id="privacy-accordion">
                    <accordion-group class="accordion-item" [isOpen]="true">
                        <h2 accordion-heading class="accordion-header" id="privacy-headingOne">
                            <button class="accordion-button" type="button">
                                Which is important privacy or security?
                            </button>
                        </h2>
                        <div id="privacy-collapseOne" class="accordion-collapse collapse show">
                            <div class="accordion-body">
                                If several languages coalesce, the grammar of the resulting language is more simple and
                                regular than that of the individual languages. The new common language will be more
                                simple and regular than the existing European languages. It will be as simple their most
                                common words.
                            </div>
                        </div>
                    </accordion-group>
                    <accordion-group class="accordion-item">
                        <h2 accordion-heading class="accordion-header" id="privacy-headingTwo">
                            <button class="accordion-button collapsed" type="button">
                                What is security and privacy?
                            </button>
                        </h2>
                        <div id="privacy-collapseTwo" class="accordion-collapse collapse show">
                            <div class="accordion-body">
                                The new common language will be more simple and regular than the existing European
                                languages. It will be as simple as Occidental; in fact, it will be Occidental. To an
                                English person, it will seem like simplified English, as a skeptical Cambridge friend of
                                mine told me what Occidental is.
                            </div>
                        </div>
                    </accordion-group>
                    <accordion-group class="accordion-item">
                        <h2 accordion-heading class="accordion-header" id="privacy-headingThree">
                            <button class="accordion-button collapsed" type="button">
                                How can I protect my privacy?
                            </button>
                        </h2>
                        <div id="privacy-collapseThree" class="accordion-collapse collapse show">
                            <div class="accordion-body">
                                He wise man therefore always holds in these matters to this principle of selection: he
                                rejects pleasures to secure other greater pleasures, or else he endures pains to avoid
                                worse pains.But I must explain to you how all this mistaken idea of denouncing pleasure
                                and praising pain was born and I will give you a complete.
                            </div>
                        </div>
                    </accordion-group>
                    <accordion-group class="accordion-item">
                        <h2 accordion-heading class="accordion-header" id="privacy-headingFour">
                            <button class="accordion-button collapsed" type="button">
                                Why is privacy so important?
                            </button>
                        </h2>
                        <div id="privacy-collapseFour" class="accordion-collapse collapse show">
                            <div class="accordion-body">
                                Cras ultricies mi eu turpis hendrerit fringilla. Vestibulum ante ipsum primis in
                                faucibus orci luctus et ultrices posuere cubilia Curae; In ac dui quis mi consectetuer
                                lacinia. Nam pretium turpis et arcu arcu tortor, suscipit eget, imperdiet nec, imperdiet
                                iaculis aliquam ultrices mauris.
                            </div>
                        </div>
                    </accordion-group>
                </accordion>
                <!--end accordion-->
            </div>
        </div>
    </div>
</div>