<!-- Start Breadcrumbs -->
<!-- End Breadcrumbs -->

<div class="card">
    <div class="row g-0">
        <div class="col-xl-9 col-lg-8">
            <div class="card-body border-end h-100">
                <div class="row mb-4 pb-2 g-3">
                    <div class="col-auto">
                        <div class="avatar-sm">
                            <div class="avatar-title bg-success-subtle rounded">
                                <img src="assets/images/companies/img-3.png" alt="" class="avatar-xs">
                            </div>
                        </div>
                    </div>
                    <div class="col-md order-3 order-md-2">
                        <div>
                            <h5>{{ task.name }}</h5>

                            <div class="hstack gap-2 gap-md-3 flex-wrap">
                                <div class="vr"></div>
                                <div class="text-muted">Дата створення: <span class="fw-medium">{{ task.created_at |
                                        date:'mediumDate' }}</span></div>
                                <div class="vr"></div>
                                <div class="text-muted">Термін виконання: <span class="fw-medium">{{ task.due_date |
                                        date:'mediumDate' }}</span></div>
                                <div class="vr"></div>
                                <div class="btn-group" dropdown>
                                    <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
                                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        {{ selectedStatus | uppercase }}
                                    </button>
                                    <div *dropdownMenu class="dropdown-menu">
                                        <a class="dropdown-item" href="javascript:void(0);"
                                            *ngFor="let status of statuses" (click)="changeStatus(status)">
                                            {{ status | uppercase }}
                                        </a>
                                    </div>
                                </div>
                                <div class="badge rounded-pill bg-danger fs-12">{{ task.priority }}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <h6 class="fw-semibold text-uppercase mb-2">Опис задачі</h6>
                <quill-editor [readOnly]="true" [modules]="{toolbar: false}" [(ngModel)]="task.description"
                    style="border: none;"></quill-editor>

                <h6 class="fw-semibold text-uppercase mb-4">Коментарі</h6>
                <ngx-simplebar style="height: 300px;" class="px-3 mx-n3">
                    <div *ngFor="let comment of comments" class="d-flex mb-4">
                        <div class="flex-shrink-0">
                            <!-- Avatar or other identifier -->
                        </div>
                        <div class="flex-grow-1 ms-3">
                            <h6>{{ comment.sender_name }} <small class="text-muted">{{ comment.created_at | date:'medium' }}</small></h6>
                            <p class="text-muted">{{ comment.text }}</p>
                            <div *ngIf="comment.fileInfo">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ comment.fileInfo.file_name }}</h5>
                                        <p class="card-text">Size: {{ comment.fileInfo.file_size }} bytes</p>
                                        <button class="btn btn-primary" (click)="downloadFile(comment.fileInfo.file_id)">Download</button>
                                    </div>
                                </div>
                            </div>
                            <a href="javascript:void(0);" class="link-success fs-base" (click)="toggleEdit(comment)">
                                <i class="ri-edit-2-line" *ngIf="!comment.isEditing"></i>
                            </a>
                        </div>
                    </div>
                </ngx-simplebar>

                <form (ngSubmit)="postComment(task.task_id, commentText)" #commentForm="ngForm" class="mt-3">
                    <div class="row g-3">
                        <div class="col-lg-12">
                            <label for="exampleFormControlTextarea1" class="form-label">Напишіть коментарій! </label>
                            <input type="file" class="form-control" id="fileInput" (change)="handleFileInput($event)" multiple>
                            <textarea class="form-control bg-light border-light" id="exampleFormControlTextarea1"
                                rows="3" placeholder="Напишіть коментар тут" [(ngModel)]="commentText" name="commentText"
                                required></textarea>
                        </div>
                        <div class="col-lg-12 text-end">
                            <button type="submit" class="btn btn-success" [disabled]="!commentForm.valid">Залишити коментар</button>
                        </div>
                    </div>
                </form>
                
            </div>
        </div><!--end col-->
        <div class="col-xl-3 col-lg-4">
            <div class="card-header">
                <h6 class="card-title mb-0">Деталі задачі</h6>
            </div>
            <div class="card-body mt-2">
                <div class="table-responsive table-card">
                    <table class="table table-borderless align-middle mb-0">
                        <tbody>
                            <tr>
                                <th>Назва</th>
                                <td>{{ task.name }}</td>
                            </tr>
                            <tr>
                                <th>Статус</th>
                                <td>{{ task.state }}</td>
                            </tr>
                            <tr>
                                <th>Пріорітет</th>
                                <td>{{ task.priority }}</td>
                            </tr>
                            <tr>
                                <th>Дата створення</th>
                                <td>{{ task.created_at | date:'mediumDate' }}</td>
                            </tr>
                            <tr>
                                <th>Термін виконання</th>
                                <td>{{ task.due_date | date:'mediumDate' }}</td>
                            </tr>
                            <tr>
                                <th>Остання активність</th>
                                <td>14 min ago</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div><!--end card-body-->
            <div class="card-body">
                <!-- Support team info -->
            </div>
        </div>
    </div><!--end row-->
</div>